In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
file_path = '/Users/mmurali1/Documents/Imperial/MIMICIV_analysis/inputevents.csv'

# Load the CSV into a DataFrame
input = pd.read_csv(file_path)

# Display the first few rows to confirm it loaded correctly
print(input.head())

   subject_id   stay_id            starttime              endtime  itemid  \
0    10002428  34807493  2156-05-01 08:00:00  2156-05-01 08:01:00  225799
1    10002428  34807493  2156-05-01 08:00:00  2156-05-01 08:01:00  225975
2    10002428  34807493  2156-05-01 08:00:00  2156-05-01 08:01:00  226453
3    10002428  34807493  2156-05-01 10:00:00  2156-05-01 10:01:00  220949
4    10002428  34807493  2156-05-01 10:00:00  2156-05-01 10:01:00  225884

   amount amountuom  totalamount totalamountuom  rate rateuom
0    30.0        mL         30.0             mL   NaN     NaN
1     1.0      dose          NaN            NaN   NaN     NaN
2    50.0        mL         50.0             mL   NaN     NaN
3   100.0        mL        100.0             mL   NaN     NaN
4     1.0      dose        100.0             mL   NaN     NaN

In [3]:
input.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3174060 entries, 0 to 3174059
Data columns (total 11 columns):
 #   Column          Dtype
---  ------          -----
 0   subject_id      int64
 1   stay_id         int64
 2   starttime       object
 3   endtime         object
 4   itemid          int64
 5   amount          float64
 6   amountuom       object
 7   totalamount     float64
 8   totalamountuom  object
 9   rate            float64
 10  rateuom         object
dtypes: float64(3), int64(3), object(5)
memory usage: 266.4+ MB

In [4]:
# Convert starttime and endttime to an datetime
input['starttime'] = input['starttime'].astype('datetime64[ns]')
input['endtime'] = input['endtime'].astype('datetime64[ns]')
input.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3174060 entries, 0 to 3174059
Data columns (total 11 columns):
 #   Column          Dtype
---  ------          -----
 0   subject_id      int64
 1   stay_id         int64
 2   starttime       datetime64[ns]
 3   endtime         datetime64[ns]
 4   itemid          int64
 5   amount          float64
 6   amountuom       object
 7   totalamount     float64
 8   totalamountuom  object
 9   rate            float64
 10  rateuom         object
dtypes: datetime64[ns](2), float64(3), int64(3), object(3)
memory usage: 266.4+ MB

In [5]:
# Count the number of unique subject_ids / patients in this dataframe
print(f'Number of patients: {input["subject_id"].nunique()}')

Number of patients: 5832

In [6]:
# Load the d_items CSV
d_items_path = '/Users/mmurali1/Documents/Imperial/MIMICIV_analysis/mimic-iv-3.1/icu/d_items.csv'
d_items = pd.read_csv(d_items_path)

# Merge the label column into the ventilation dataframe using itemid
input = input.merge(
    d_items[['itemid', 'label']],  # Only keep necessary columns
    on='itemid',
    how='left'  # Keep all rows from ventilation
)

In [7]:
input.head(50)

,subject_id,stay_id,starttime,endtime,itemid,amount,amountuom,totalamount,totalamountuom,rate,rateuom,label
0,10002428,34807493,2156-05-01 08:00:00,2156-05-01 08:01:00,225799,30.000000,mL,30.0,mL,NaN,NaN,Gastric Meds
1,10002428,34807493,2156-05-01 08:00:00,2156-05-01 08:01:00,225975,1.000000,dose,NaN,NaN,NaN,NaN,Heparin Sodium (Prophylaxis)
2,10002428,34807493,2156-05-01 08:00:00,2156-05-01 08:01:00,226453,50.000000,mL,50.0,mL,NaN,NaN,GT Flush
3,10002428,34807493,2156-05-01 10:00:00,2156-05-01 10:01:00,220949,100.000000,mL,100.0,mL,NaN,NaN,Dextrose 5%
4,10002428,34807493,2156-05-01 10:00:00,2156-05-01 10:01:00,225884,1.000000,dose,100.0,mL,NaN,NaN,Metronidazole
5,10002428,34807493,2156-05-01 11:15:00,2156-05-01 11:16:00,225158,500.000000,mL,500.0,mL,NaN,NaN,NaCl 0.9%
6,10002428,34807493,2156-05-01 12:00:00,2156-05-01 12:01:00,225798,1.000000,dose,NaN,NaN,NaN,NaN,Vancomycin
7,10002428,34807493,2156-05-01 12:00:00,2156-05-01 12:01:00,225799,10.000000,mL,10.0,mL,NaN,NaN,Gastric Meds
8,10002428,34807493,2156-05-01 12:00:00,2156-05-01 12:01:00,226453,30.000000,mL,30.0,mL,NaN,NaN,GT Flush
9,10002428,34807493,2156-05-01 13:12:00,2156-05-01 13:13:00,220949,50.000000,mL,50.0,mL,NaN,NaN,Dextrose 5%
10,10002428,34807493,2156-05-01 13:12:00,2156-05-01 13:13:00,225851,1.000000,dose,50.0,mL,NaN,NaN,Cefepime
11,10002428,34807493,2156-05-01 13:45:00,2156-05-01 13:46:00,220949,200.000000,mL,200.0,mL,NaN,NaN,Dextrose 5%
12,10002428,34807493,2156-05-01 13:45:00,2156-05-01 13:46:00,225798,1.000000,dose,200.0,mL,NaN,NaN,Vancomycin
13,10002428,34807493,2156-05-01 14:00:00,2156-05-01 14:01:00,225799,30.000000,mL,30.0,mL,NaN,NaN,Gastric Meds
14,10002428,34807493,2156-05-01 14:00:00,2156-05-01 14:01:00,226453,30.000000,mL,30.0,mL,NaN,NaN,GT Flush
15,10002428,34807493,2156-05-01 14:00:00,2156-05-01 14:01:00,225975,1.000000,dose,NaN,NaN,NaN,NaN,Heparin Sodium (Prophylaxis)
16,10002428,34807493,2156-05-01 16:47:00,2156-05-01 16:48:00,225158,500.000000,mL,500.0,mL,NaN,NaN,NaCl 0.9%
17,10002428,34807493,2156-05-01 18:00:00,2156-05-01 18:01:00,225798,1.000000,dose,NaN,NaN,NaN,NaN,Vancomycin
18,10002428,34807493,2156-05-01 18:00:00,2156-05-01 18:01:00,225799,10.000000,mL,10.0,mL,NaN,NaN,Gastric Meds
19,10002428,34807493,2156-05-01 18:00:00,2156-05-01 18:01:00,226453,30.000000,mL,30.0,mL,NaN,NaN,GT Flush
20,10002428,34807493,2156-05-02 08:00:00,2156-05-02 08:01:00,220949,250.000000,mL,250.0,mL,NaN,NaN,Dextrose 5%
21,10002428,34807493,2156-05-02 08:00:00,2156-05-02 08:01:00,225798,1.000000,dose,250.0,mL,NaN,NaN,Vancomycin
22,10002428,34807493,2156-05-02 08:00:00,2156-05-02 08:01:00,225907,1.000000,dose,NaN,NaN,NaN,NaN,Famotidine (Pepcid)
23,10002428,34807493,2156-05-02 08:00:00,2156-05-02 08:01:00,225975,1.000000,dose,NaN,NaN,NaN,NaN,Heparin Sodium (Prophylaxis)
24,10002428,34807493,2156-05-02 08:00:00,2156-05-02 08:01:00,225799,30.000000,mL,30.0,mL,NaN,NaN,Gastric Meds
25,10002428,34807493,2156-05-02 08:00:00,2156-05-02 08:01:00,226453,30.000000,mL,30.0,mL,NaN,NaN,GT Flush
26,10002428,34807493,2156-05-02 10:00:00,2156-05-02 10:01:00,226452,150.000000,mL,150.0,mL,NaN,NaN,PO Intake
27,10002428,34807493,2156-05-02 12:00:00,2156-05-02 12:01:00,225798,1.000000,dose,NaN,NaN,NaN,NaN,Vancomycin
28,10002428,34807493,2156-05-02 12:00:00,2156-05-02 12:01:00,225799,10.000000,mL,10.0,mL,NaN,NaN,Gastric Meds
29,10002428,34807493,2156-05-02 12:00:00,2156-05-02 12:01:00,226453,30.000000,mL,30.0,mL,NaN,NaN,GT Flush
30,10002428,34807493,2156-05-02 13:00:00,2156-05-02 13:01:00,220949,50.000000,mL,50.0,mL,NaN,NaN,Dextrose 5%
31,10002428,34807493,2156-05-02 13:00:00,2156-05-02 13:01:00,225851,1.000000,dose,50.0,mL,NaN,NaN,Cefepime
32,10002428,34807493,2156-05-02 14:03:00,2156-05-02 14:04:00,225975,1.000000,dose,NaN,NaN,NaN,NaN,Heparin Sodium (Prophylaxis)
33,10002428,34807493,2156-05-02 16:51:00,2156-05-02 22:26:00,225930,55.833335,mL,400.0,mL,10.000000,mL/hour,Peptamen 1.5 (Full)
34,10002428,34807493,2156-05-02 18:00:00,2156-05-02 18:01:00,225798,1.000000,dose,NaN,NaN,NaN,NaN,Vancomycin
35,10002428,34807493,2156-05-01 19:23:00,2156-05-01 19:24:00,225158,500.000000,mL,500.0,mL,NaN,NaN,NaCl 0.9%
36,10002428,34807493,2156-05-02 00:11:00,2156-05-02 01:11:00,220864,249.999990,mL,250.0,mL,249.999985,mL/hour,Albumin 5%
37,10002428,34807493,2156-05-02 01:16:00,2156-05-02 02:16:00,220864,249.999990,mL,250.0,mL,249.999985,mL/hour,Albumin 5%
38,10002428,34807493,2156-04-30 22:00:00,2156-05-02 09:01:00,225158,175.083339,mL,1000.0,mL,5.000000,mL/hour,NaCl 0.9%
39,10002428,34807493,2156-04-30 22:30:00,2156-04-30 22:31:00,228315,999.999953,mg,NaN,NaN,NaN,NaN,Acetaminophen-IV
40,10002428,35479615,2156-05-13 20:00:00,2156-05-13 23:33:00,221906,0.515582,mg,250.0,mL,0.050012,mcg/kg/min,Norepinephrine
41,10002428,35479615,2156-05-13 20:00:00,2156-05-13 23:33:00,225158,16.111952,mL,250.0,mL,4.538578,mL/hour,NaCl 0.9%
42,10002428,35479615,2156-05-13 20:15:00,2156-05-13 20:16:00,226453,60.000000,mL,60.0,mL,NaN,NaN,GT Flush
43,10002428,35479615,2156-05-13 21:15:00,2156-05-13 21:16:00,225975,1.000000,dose,NaN,NaN,NaN,NaN,Heparin Sodium (Prophylaxis)
44,10002428,35479615,2156-05-13 22:11:00,2156-05-13 22:12:00,220949,200.000000,mL,200.0,mL,NaN,NaN,Dextrose 5%
45,10002428,35479615,2156-05-13 22:11:00,2156-05-13 22:12:00,225859,1.000000,dose,200.0,mL,NaN,NaN,Ciprofloxacin
46,10002428,35479615,2156-05-14 00:00:00,2156-05-14 00:01:00,220949,100.000000,mL,100.0,mL,NaN,NaN,Dextrose 5%
47,10002428,35479615,2156-05-14 00:00:00,2156-05-14 00:01:00,225883,1.000000,dose,100.0,mL,NaN,NaN,Meropenem
48,10002428,35479615,2156-05-14 02:07:00,2156-05-14 08:00:00,228135,205.894252,mL,1000.0,mL,34.996189,mL/hour,Isosource 1.5 (Full)
49,10002428,35479615,2156-05-14 06:18:00,2156-05-14 06:19:00,220949,100.000000,mL,100.0,mL,NaN,NaN,Dextrose 5%

In [8]:
input.shape

(3174060, 12)

In [9]:
# Group by itemid and count nulls in both 'amount' and 'totalamount' columns
null_counts = input.groupby('itemid').agg(
    null_amount=('amount', lambda x: x.isnull().sum()),
    null_totalamount=('totalamount', lambda x: x.isnull().sum())
).reset_index()

null_counts

     itemid  null_amount  null_totalamount
0    220862            0                 0
1    220864            0                 0
2    220949            0                23
3    220950            0                 0
4    220952            0              4699
..      ...          ...               ...
306  229760            0                 0
307  229764            0                 0
308  229781            0                 0
309  229861            0                 0
310  230034            0                 0

[311 rows x 3 columns]

In [10]:
# Load the d_items CSV
d_items_path = '/Users/mmurali1/Documents/Imperial/MIMICIV_analysis/mimic-iv-3.1/icu/d_items.csv'
d_items = pd.read_csv(d_items_path)

# Merge the label column with null_counts using itemid
null_counts = null_counts.merge(
    d_items[['itemid', 'label']],  
    on='itemid',
    how='left' 
)

null_counts

     itemid  null_amount  null_totalamount                             label
0    220862            0                 0                       Albumin 25%
1    220864            0                 0                        Albumin 5%
2    220949            0                23                       Dextrose 5%
3    220950            0                 0                      Dextrose 10%
4    220952            0              4699                      Dextrose 50%
..      ...          ...               ...                               ...
306  229760            0                 0            Epoprostenol (Veletri)
307  229764            0                 0         Angiotensin II (Giapreza)
308  229781            0                 0  Bivalirudin (Angiomax) (Impella)
309  229861            0                 0                   Sodium Acetate.
310  230034            0                 0                Amiodarone 150/100

[311 rows x 4 columns]

In [11]:
filtered_null_counts = null_counts[
    (null_counts['null_amount'] > 0) | (null_counts['null_totalamount'] > 0)
]

filtered_null_counts

     itemid  null_amount  null_totalamount                 label
2    220949            0                23           Dextrose 5%
4    220952            0              4699          Dextrose 50%
10   221282            0               135             Adenosine
14   221347            0              1380            Amiodarone
15   221385            0             12928    Lorazepam (Ativan)
..      ...          ...               ...                   ...
296  229616            0               185  Ondansetron (Zofran)
297  229617            0                23          Epinephrine.
298  229618            0                27      Calcium Chloride
299  229619            0                 3        Insulin - U500
303  229639            0               108    Bumetanide (Bumex)

[113 rows x 4 columns]

In [12]:
pd.set_option('display.max_rows', None)     # Show all rows

filtered_null_counts

,itemid,null_amount,null_totalamount,label
2,220949,0,23,Dextrose 5%
4,220952,0,4699,Dextrose 50%
10,221282,0,135,Adenosine
14,221347,0,1380,Amiodarone
15,221385,0,12928,Lorazepam (Ativan)
16,221393,0,151,Atropine
19,221468,0,1634,Diltiazem
20,221555,0,504,Cisatracurium
21,221623,0,1344,Diazepam (Valium)
24,221668,0,31802,Midazolam (Versed)
26,221712,0,31,Ketamine
27,221733,0,2,Factor VIII
28,221744,0,86209,Fentanyl
30,221794,0,25642,Furosemide (Lasix)
31,221824,0,4520,Haloperidol (Haldol)
32,221828,0,9885,Hydralazine
33,221833,0,26772,Hydromorphone (Dilaudid)
38,222021,0,82,Naloxone (Narcan)
43,222062,0,282,Vecuronium
45,222168,0,30274,Propofol
48,222318,0,13,Verapamil
49,223257,0,197,Insulin - 70/30
50,223258,0,50683,Insulin - Regular
51,223259,0,3152,Insulin - NPH
52,223260,0,8441,Insulin - Glargine
53,223261,0,67,Insulin - Humalog 75/25
54,223262,0,27081,Insulin - Humalog
59,225152,0,2385,Heparin Sodium
60,225153,0,4965,Labetalol
61,225154,0,17365,Morphine Sulfate
65,225158,0,32,NaCl 0.9%
66,225159,0,8,NaCl 0.45%
76,225797,0,22,Free Water
77,225798,0,4360,Vancomycin
78,225799,0,36,Gastric Meds
83,225828,0,8,LR
89,225837,0,684,Acyclovir
94,225844,0,68,Atovaquone
95,225845,0,302,Azithromycin
98,225850,0,1,Cefazolin
99,225851,0,3,Cefepime
100,225853,0,1,Ceftazidime
102,225859,0,534,Ciprofloxacin
103,225860,0,31,Clindamycin
107,225866,0,130,Erythromycin
108,225868,0,6,Ethambutol
109,225869,0,233,Fluconazole
110,225871,0,13,Foscarnet
114,225877,0,2,Isoniazid
115,225879,0,251,Levofloxacin
116,225881,0,173,Linezolid
118,225884,0,919,Metronidazole
119,225885,0,670,Micafungin
120,225886,0,7,Moxifloxacin
121,225888,0,1,Nafcillin
122,225890,0,1,Penicillin G potassium
125,225895,0,7,Pyrazinamide
126,225896,0,6,Quinine
127,225898,0,61,Rifampin
128,225899,0,565,Bactrim (SMX/TMP)
130,225903,0,44,Valgancyclovir
131,225905,0,266,Voriconazole
132,225906,0,1279,Enoxaparin (Lovenox)
133,225907,0,3739,Famotidine (Pepcid)
134,225908,0,121,Fondaparinux
135,225909,0,1832,Lansoprazole (Prevacid)
136,225910,0,2000,Pantoprazole (Protonix)
137,225911,0,1453,Ranitidine (Prophylaxis)
138,225912,0,500,Carafate (Sucralfate)
139,225913,0,842,Coumadin (Warfarin)
140,225914,0,40,Factor VIIa
141,225915,0,3,Profilnine
152,225937,0,3,Ensure (Full)
155,225943,0,684,Solution
157,225945,0,105,Lidocaine
162,225973,0,310,Meperidine (Demerol)
163,225974,0,23320,Metoprolol
164,225975,0,64198,Heparin Sodium (Prophylaxis)
165,225993,0,1,Optisource
169,226002,0,1,Vanilla Lactose Free Scandi Shake (mixed)
194,226361,0,28,Pre-Admission/Non-ICU Intake
196,226364,0,3,OR Crystalloid Intake
197,226365,0,4,OR Colloid Intake
198,226367,0,2,OR FFP Intake
199,226368,0,1,OR Packed RBC Intake
200,226369,0,1,OR Platelet Intake
203,226372,0,2,OR Cell Saver Intake
207,226452,0,33,PO Intake
208,226453,0,30,GT Flush
218,227520,0,1214,Methadone Hydrochloride
229,227533,0,1738,Sodium Bicarbonate 8.4% (Amp)
233,227689,0,2893,Dilantin
234,227690,0,1735,Fosphenytoin
235,227691,0,33,Keflex
237,227694,0,626,Omeprazole (Prilosec)
246,228003,0,86,Tamiflu
253,228315,0,10952,Acetaminophen-IV
254,228316,0,3387,Levetiracetam (Keppra)
277,229063,0,3,Pamidronate
279,229068,0,77,Protamine sulfate
280,229069,0,287,Digoxin (Lanoxin)
281,229070,0,239,Glycopyrolate (Robinul)
282,229071,0,106,Neostigmine (Prostigmin)
283,229072,0,270,Ketorolac (Toradol)
284,229233,0,341,Rocuronium
289,229299,0,242,Insulin - Novolog
291,229574,0,4,Fiber Supplement (i.e. Banana Flakes)
292,229583,0,10,Beneprotein.
296,229616,0,185,Ondansetron (Zofran)
297,229617,0,23,Epinephrine.
298,229618,0,27,Calcium Chloride
299,229619,0,3,Insulin - U500
303,229639,0,108,Bumetanide (Bumex)

In [13]:
null_counts

,itemid,null_amount,null_totalamount,label
0,220862,0,0,Albumin 25%
1,220864,0,0,Albumin 5%
2,220949,0,23,Dextrose 5%
3,220950,0,0,Dextrose 10%
4,220952,0,4699,Dextrose 50%
5,220970,0,0,Fresh Frozen Plasma
6,220995,0,0,Sodium Bicarbonate 8.4%
7,221036,0,0,Nutren Renal (Full)
8,221207,0,0,Impact (Full)
9,221261,0,0,Abciximab (Reopro)
10,221282,0,135,Adenosine
11,221289,0,0,Epinephrine
12,221319,0,0,Alteplase (TPA)
13,221342,0,0,Aminophylline
14,221347,0,1380,Amiodarone
15,221385,0,12928,Lorazepam (Ativan)
16,221393,0,151,Atropine
17,221429,0,0,Esmolol
18,221456,0,0,Calcium Gluconate
19,221468,0,1634,Diltiazem
20,221555,0,504,Cisatracurium
21,221623,0,1344,Diazepam (Valium)
22,221653,0,0,Dobutamine
23,221662,0,0,Dopamine
24,221668,0,31802,Midazolam (Versed)
25,221689,0,0,Drotrecogin (Xigris)
26,221712,0,31,Ketamine
27,221733,0,2,Factor VIII
28,221744,0,86209,Fentanyl
29,221749,0,0,Phenylephrine
30,221794,0,25642,Furosemide (Lasix)
31,221824,0,4520,Haloperidol (Haldol)
32,221828,0,9885,Hydralazine
33,221833,0,26772,Hydromorphone (Dilaudid)
34,221892,0,0,Lepirudin
35,221906,0,0,Norepinephrine
36,221986,0,0,Milrinone
37,222011,0,0,Magnesium Sulfate
38,222021,0,82,Naloxone (Narcan)
39,222037,0,0,Nesiritide
40,222042,0,0,Nicardipine
41,222051,0,0,Nitroprusside
42,222056,0,0,Nitroglycerin
43,222062,0,282,Vecuronium
44,222151,0,0,Procainamide
45,222168,0,30274,Propofol
46,222190,0,0,Ranitidine
47,222315,0,0,Vasopressin
48,222318,0,13,Verapamil
49,223257,0,197,Insulin - 70/30
50,223258,0,50683,Insulin - Regular
51,223259,0,3152,Insulin - NPH
52,223260,0,8441,Insulin - Glargine
53,223261,0,67,Insulin - Humalog 75/25
54,223262,0,27081,Insulin - Humalog
55,225147,0,0,Argatroban
56,225148,0,0,Bivalirudin (Angiomax)
57,225150,0,0,Dexmedetomidine (Precedex)
58,225151,0,0,Eptifibatide (Integrilin)
59,225152,0,2385,Heparin Sodium
60,225153,0,4965,Labetalol
61,225154,0,17365,Morphine Sulfate
62,225155,0,0,Octreotide
63,225156,0,0,Pentobarbital
64,225157,0,0,Tirofiban (Aggrastat)
65,225158,0,32,NaCl 0.9%
66,225159,0,8,NaCl 0.45%
67,225161,0,0,NaCl 3% (Hypertonic Saline)
68,225166,0,0,Potassium Chloride
69,225167,0,0,Hydrochloric Acid - HCL
70,225168,0,0,Packed Red Blood Cells
71,225170,0,0,Platelets
72,225171,0,0,Cryoprecipitate
73,225173,0,0,Cell Saver
74,225174,0,0,Hetastarch (Hespan) 6%
75,225795,0,0,Dextran 40
76,225797,0,22,Free Water
77,225798,0,4360,Vancomycin
78,225799,0,36,Gastric Meds
79,225801,0,0,Lipids 20%
80,225823,0,0,D5 1/2NS
81,225825,0,0,D5NS
82,225827,0,0,D5LR
83,225828,0,8,LR
84,225830,0,0,Multivitamins
85,225832,0,0,Folic Acid
86,225833,0,0,Thiamine
87,225834,0,0,K Phos
88,225835,0,0,Na Phos
89,225837,0,684,Acyclovir
90,225838,0,0,Ambisome
91,225840,0,0,Amikacin
92,225842,0,0,Ampicillin
93,225843,0,0,Ampicillin/Sulbactam (Unasyn)
94,225844,0,68,Atovaquone
95,225845,0,302,Azithromycin
96,225847,0,0,Aztreonam
97,225848,0,0,Caspofungin
98,225850,0,1,Cefazolin
99,225851,0,3,Cefepime
100,225853,0,1,Ceftazidime
101,225855,0,0,Ceftriaxone
102,225859,0,534,Ciprofloxacin
103,225860,0,31,Clindamycin
104,225862,0,0,Colistin
105,225863,0,0,Daptomycin
106,225865,0,0,Doxycycline
107,225866,0,130,Erythromycin
108,225868,0,6,Ethambutol
109,225869,0,233,Fluconazole
110,225871,0,13,Foscarnet
111,225873,0,0,Gancyclovir
112,225875,0,0,Gentamicin
113,225876,0,0,Imipenem/Cilastatin
114,225877,0,2,Isoniazid
115,225879,0,251,Levofloxacin
116,225881,0,173,Linezolid
117,225883,0,0,Meropenem
118,225884,0,919,Metronidazole
119,225885,0,670,Micafungin
120,225886,0,7,Moxifloxacin
121,225888,0,1,Nafcillin
122,225890,0,1,Penicillin G potassium
123,225892,0,0,Piperacillin
124,225893,0,0,Piperacillin/Tazobactam (Zosyn)
125,225895,0,7,Pyrazinamide
126,225896,0,6,Quinine
127,225898,0,61,Rifampin
128,225899,0,565,Bactrim (SMX/TMP)
129,225902,0,0,Tobramycin
130,225903,0,44,Valgancyclovir
131,225905,0,266,Voriconazole
132,225906,0,1279,Enoxaparin (Lovenox)
133,225907,0,3739,Famotidine (Pepcid)
134,225908,0,121,Fondaparinux
135,225909,0,1832,Lansoprazole (Prevacid)
136,225910,0,2000,Pantoprazole (Protonix)
137,225911,0,1453,Ranitidine (Prophylaxis)
138,225912,0,500,Carafate (Sucralfate)
139,225913,0,842,Coumadin (Warfarin)
140,225914,0,40,Factor VIIa
141,225915,0,3,Profilnine
142,225916,0,0,TPN w/ Lipids
143,225917,0,0,TPN without Lipids
144,225920,0,0,Peripheral Parenteral Nutrition
145,225928,0,0,Impact with Fiber (Full)
146,225929,0,0,ProBalance (Full)
147,225930,0,0,Peptamen 1.5 (Full)
148,225931,0,0,Nutren 2.0 (Full)
149,225934,0,0,Vivonex (Full)
150,225935,0,0,Replete (Full)
151,225936,0,0,Replete with Fiber (Full)
152,225937,0,3,Ensure (Full)
153,225941,0,0,D5 1/4NS
154,225942,0,0,Fentanyl (Concentrate)
155,225943,0,684,Solution
156,225944,0,0,Sterile Water
157,225945,0,105,Lidocaine
158,225947,0,0,Dextrose PN
159,225948,0,0,Amino Acids
160,225969,0,0,Lipids (additive)
161,225970,0,0,Beneprotein
162,225973,0,310,Meperidine (Demerol)
163,225974,0,23320,Metoprolol
164,225975,0,64198,Heparin Sodium (Prophylaxis)
165,225993,0,1,Optisource
166,225994,0,0,Mighty Shake (Vanilla/Strawberry)
167,225995,0,0,Mighty Shake (Chocolate)
168,225996,0,0,Mighty Shake (no sugar added)
169,226002,0,1,Vanilla Lactose Free Scandi Shake (mixed)
170,226016,0,0,Nutren 2.0 (1/4)
171,226017,0,0,Nutren 2.0 (2/3)
172,226019,0,0,Nutren 2.0 (1/2)
173,226022,0,0,Impact (3/4)
174,226023,0,0,Impact (1/2)
175,226024,0,0,Impact with Fiber (1/4)
176,226026,0,0,Impact with Fiber (3/4)
177,226027,0,0,Impact with Fiber (1/2)
178,226030,0,0,Nutren Renal (3/4)
179,226031,0,0,Nutren Renal (1/2)
180,226036,0,0,Peptamen 1.5 (1/4)
181,226038,0,0,Peptamen 1.5 (3/4)
182,226039,0,0,Peptamen 1.5 (1/2)
183,226044,0,0,Replete (1/4)
184,226045,0,0,Replete (2/3)
185,226046,0,0,Replete (3/4)
186,226047,0,0,Replete (1/2)
187,226048,0,0,Replete with Fiber (1/4)
188,226049,0,0,Replete with Fiber (2/3)
189,226050,0,0,Replete with Fiber (3/4)
190,226051,0,0,Replete with Fiber (1/2)
191,226058,0,0,Vivonex (3/4)
192,226059,0,0,Vivonex (1/2)
193,226089,0,0,Piggyback
194,226361,0,28,Pre-Admission/Non-ICU Intake
195,226363,0,0,Cath Lab Intake
196,226364,0,3,OR Crystalloid Intake
197,226365,0,4,OR Colloid Intake
198,226367,0,2,OR FFP Intake
199,226368,0,1,OR Packed RBC Intake
200,226369,0,1,OR Platelet Intake
201,226370,0,0,OR Autologous Blood Intake
202,226371,0,0,OR Cryoprecipitate Intake
203,226372,0,2,OR Cell Saver Intake
204,226375,0,0,PACU Crystalloid Intake
205,226376,0,0,PACU Colloid Intake
206,226377,0,0,PACU PO Intake
207,226452,0,33,PO Intake
208,226453,0,30,GT Flush
209,226877,0,0,Ensure Plus (Full)
210,226880,0,0,Nutren Pulmonary (Full)
211,226881,0,0,Nutren Pulmonary (3/4)
212,226882,0,0,Nutren Pulmonary (1/2)
213,227070,0,0,PACU Packed RBC Intake
214,227071,0,0,PACU Platelet Intake
215,227072,0,0,PACU FFP Intake
216,227090,0,0,Lipids 10%
217,227518,0,0,Nutren 2.0 (3/4)
218,227520,0,1214,Methadone Hydrochloride
219,227522,0,0,KCL (Bolus)
220,227523,0,0,Magnesium Sulfate (Bolus)
221,227524,0,0,Magnesium Sulfate (OB-GYN)
222,227525,0,0,Calcium Gluconate (CRRT)
223,227526,0,0,Citrate
224,227528,0,0,ACD-A Citrate (500ml)
225,227529,0,0,ACD-A Citrate (1000ml)
226,227530,0,0,IV Immune Globulin (IVIG)
227,227531,0,0,Mannitol
228,227532,0,0,Plasma Pheresis
229,227533,0,1738,Sodium Bicarbonate 8.4% (Amp)
230,227534,0,0,Cyclosporine
231,227535,0,0,Vitamin K (Phytonadione)
232,227536,0,0,KCl (CRRT)
233,227689,0,2893,Dilantin
234,227690,0,1735,Fosphenytoin
235,227691,0,33,Keflex
236,227692,0,0,Isuprel
237,227694,0,626,Omeprazole (Prilosec)
238,227695,0,0,Fibersource HN (Full)
239,227696,0,0,Fibersource HN (3/4)
240,227698,0,0,Fibersource HN (1/2)
241,227973,0,0,NovaSource Renal (1/2)
242,227974,0,0,NovaSource Renal (3/4)
243,227975,0,0,NovaSource Renal (Full)
244,227977,0,0,Boost Glucose Control (1/2)
245,227979,0,0,Boost Glucose Control (Full)
246,228003,0,86,Tamiflu
247,228131,0,0,Isosource 1.5 (1/2)
248,228132,0,0,Isosource 1.5 (1/4)
249,228134,0,0,Isosource 1.5 (3/4)
250,228135,0,0,Isosource 1.5 (Full)
251,228140,0,0,Dextrose 20%
252,228142,0,0,Dextrose 40%
253,228315,0,10952,Acetaminophen-IV
254,228316,0,3387,Levetiracetam (Keppra)
255,228339,0,0,Amiodarone 600/500
256,228340,0,0,Furosemide (Lasix) 250/50
257,228341,0,0,NaCl 23.4%
258,228348,0,0,Nepro (1/2)
259,228351,0,0,Nepro (Full)
260,228355,0,0,Enlive (Full)
261,228359,0,0,Glucerna (Full)
262,228361,0,0,Pulmocare (1/4)
263,228363,0,0,Pulmocare (Full)
264,228364,0,0,Two Cal HN (1/2)
265,228367,0,0,Two Cal HN (Full)
266,228383,0,0,Peptamen Bariatric (Full)
267,229009,0,0,Promote (Full)
268,229010,0,0,Jevity 1.2 (Full)
269,229011,0,0,Jevity 1.5 (Full)
270,229012,0,0,Vital 1.5 (Full)
271,229013,0,0,Glucerna 1.2 (Full)
272,229014,0,0,Promote with Fiber (Full)
273,229057,0,0,Acetylcysteine
274,229058,0,0,Aminocaproic acid (Amicar)
275,229061,0,0,Ertapenem sodium (Invanz)
276,229062,0,0,Mycophenolate mofetil (Cellcept)
277,229063,0,3,Pamidronate
278,229064,0,0,Tigecycline
279,229068,0,77,Protamine sulfate
280,229069,0,287,Digoxin (Lanoxin)
281,229070,0,239,Glycopyrolate (Robinul)
282,229071,0,106,Neostigmine (Prostigmin)
283,229072,0,270,Ketorolac (Toradol)
284,229233,0,341,Rocuronium
285,229234,0,0,Clevidipine (Cleviprex)
286,229295,0,0,Glucerna 1.5 (Full)
287,229296,0,0,Vital High Protein (Full)
288,229297,0,0,Osmolite 1.5 (Full)
289,229299,0,242,Insulin - Novolog
290,229420,0,0,Dexmedetomidine (Precedex)
291,229574,0,4,Fiber Supplement (i.e. Banana Flakes)
292,229583,0,10,Beneprotein.
293,229587,0,0,Ceftaroline
294,229597,0,0,Heparin Sodium (Impella)
295,229615,0,0,Esomeprazole (Nexium)
296,229616,0,185,Ondansetron (Zofran)
297,229617,0,23,Epinephrine.
298,229618,0,27,Calcium Chloride
299,229619,0,3,Insulin - U500
300,229624,0,0,Nicardipine 40mg/200
301,229630,0,0,Phenylephrine (50/250)
302,229632,0,0,Phenylephrine (200/250)
303,229639,0,108,Bumetanide (Bumex)
304,229640,0,0,Calcium Gluconate (Bolus)
305,229654,0,0,Amiodarone 450/250
306,229760,0,0,Epoprostenol (Veletri)
307,229764,0,0,Angiotensin II (Giapreza)
308,229781,0,0,Bivalirudin (Angiomax) (Impella)
309,229861,0,0,Sodium Acetate.
310,230034,0,0,Amiodarone 150/100

In [14]:
input2 = input.copy()

pd.reset_option('display.max_rows')

In [15]:
input2 = input2.dropna(subset=['totalamount'], how='all')

input2.head(10)

,subject_id,stay_id,starttime,endtime,itemid,amount,amountuom,totalamount,totalamountuom,rate,rateuom,label
0,10002428,34807493,2156-05-01 08:00:00,2156-05-01 08:01:00,225799,30.0,mL,30.0,mL,NaN,NaN,Gastric Meds
2,10002428,34807493,2156-05-01 08:00:00,2156-05-01 08:01:00,226453,50.0,mL,50.0,mL,NaN,NaN,GT Flush
3,10002428,34807493,2156-05-01 10:00:00,2156-05-01 10:01:00,220949,100.0,mL,100.0,mL,NaN,NaN,Dextrose 5%
4,10002428,34807493,2156-05-01 10:00:00,2156-05-01 10:01:00,225884,1.0,dose,100.0,mL,NaN,NaN,Metronidazole
5,10002428,34807493,2156-05-01 11:15:00,2156-05-01 11:16:00,225158,500.0,mL,500.0,mL,NaN,NaN,NaCl 0.9%
7,10002428,34807493,2156-05-01 12:00:00,2156-05-01 12:01:00,225799,10.0,mL,10.0,mL,NaN,NaN,Gastric Meds
8,10002428,34807493,2156-05-01 12:00:00,2156-05-01 12:01:00,226453,30.0,mL,30.0,mL,NaN,NaN,GT Flush
9,10002428,34807493,2156-05-01 13:12:00,2156-05-01 13:13:00,220949,50.0,mL,50.0,mL,NaN,NaN,Dextrose 5%
10,10002428,34807493,2156-05-01 13:12:00,2156-05-01 13:13:00,225851,1.0,dose,50.0,mL,NaN,NaN,Cefepime
11,10002428,34807493,2156-05-01 13:45:00,2156-05-01 13:46:00,220949,200.0,mL,200.0,mL,NaN,NaN,Dextrose 5%

In [16]:
input2.shape

(2686843, 12)

In [17]:
# Average, minimum and maximum time of each individual in dataframe

# Group by subject_id and calculate duration per subject
duration_per_subject = input2.groupby('subject_id')['starttime'].agg(['min', 'max'])
duration_per_subject['duration_hours'] = (
    (duration_per_subject['max'] - duration_per_subject['min']).dt.total_seconds() / 3600
)

# Summary statistics
average_duration = duration_per_subject['duration_hours'].mean()
min_duration = duration_per_subject['duration_hours'].min()
max_duration = duration_per_subject['duration_hours'].max()

print(f"ðŸŸ¢ Average time span per subject: {average_duration:.2f} hours")
print(f"ðŸ”µ Shortest time span: {min_duration:.2f} hours")
print(f"ðŸ”´ Longest time span: {max_duration:.2f} hours")

ðŸŸ¢ Average time span per subject: 6389.53 hours
ðŸ”µ Shortest time span: 10.77 hours
ðŸ”´ Longest time span: 112126.53 hours

In [18]:
# Group by itemid
grouped = input2.groupby('itemid')

# Define the frequency function
def avg_obs_per_20_hours(group):
    n_obs = len(group)
    time_span_hours = (group['starttime'].max() - group['starttime'].min()).total_seconds() / 3600
    return (n_obs / time_span_hours * 20) if time_span_hours > 0 else float('nan')

# Apply the function to the cleaned dataframe
avg_freq_df = grouped.apply(avg_obs_per_20_hours).reset_index(name='avg_obs_per_20_hours')

avg_freq_df

/var/folders/ks/xzsx5z1n0zv653847sbsxy7r0000gp/T/ipykernel_83583/1687938942.py:11: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  avg_freq_df = grouped.apply(avg_obs_per_20_hours).reset_index(name='avg_obs_per_20_hours')

     itemid  avg_obs_per_20_hours
0    220862              0.229405
1    220864              0.178425
2    220949              8.206738
3    220950              0.038730
4    220970              0.160001
..      ...                   ...
263  229760              0.000502
264  229764              0.001519
265  229781              0.001145
266  229861                   NaN
267  230034              0.000160

[268 rows x 2 columns]

In [19]:
# Load the d_items CSV
d_items_path = '/Users/mmurali1/Documents/Imperial/MIMICIV_analysis/mimic-iv-3.1/icu/d_items.csv'
d_items = pd.read_csv(d_items_path)

# Merge the label column with null_counts using itemid
avg_freq_df = avg_freq_df.merge(
    d_items[['itemid', 'label']],  
    on='itemid',
    how='left' 
)

avg_freq_df

     itemid  avg_obs_per_20_hours                             label
0    220862              0.229405                       Albumin 25%
1    220864              0.178425                        Albumin 5%
2    220949              8.206738                       Dextrose 5%
3    220950              0.038730                      Dextrose 10%
4    220970              0.160001               Fresh Frozen Plasma
..      ...                   ...                               ...
263  229760              0.000502            Epoprostenol (Veletri)
264  229764              0.001519         Angiotensin II (Giapreza)
265  229781              0.001145  Bivalirudin (Angiomax) (Impella)
266  229861                   NaN                   Sodium Acetate.
267  230034              0.000160                Amiodarone 150/100

[268 rows x 3 columns]

In [20]:
# Dropping features that are measured < 0.1 times per 20-hour period

# Identify low-frequency itemids
low_freq_itemids = avg_freq_df[avg_freq_df['avg_obs_per_20_hours'] < 0.1]['itemid'].tolist()

# Drop them from input2
input3 = input2[~input2['itemid'].isin(low_freq_itemids)].copy()

In [21]:
input3.head()

,subject_id,stay_id,starttime,endtime,itemid,amount,amountuom,totalamount,totalamountuom,rate,rateuom,label
0,10002428,34807493,2156-05-01 08:00:00,2156-05-01 08:01:00,225799,30.0,mL,30.0,mL,NaN,NaN,Gastric Meds
2,10002428,34807493,2156-05-01 08:00:00,2156-05-01 08:01:00,226453,50.0,mL,50.0,mL,NaN,NaN,GT Flush
3,10002428,34807493,2156-05-01 10:00:00,2156-05-01 10:01:00,220949,100.0,mL,100.0,mL,NaN,NaN,Dextrose 5%
4,10002428,34807493,2156-05-01 10:00:00,2156-05-01 10:01:00,225884,1.0,dose,100.0,mL,NaN,NaN,Metronidazole
5,10002428,34807493,2156-05-01 11:15:00,2156-05-01 11:16:00,225158,500.0,mL,500.0,mL,NaN,NaN,NaCl 0.9%

In [22]:
input3.shape

(2505890, 12)

In [23]:
input3 = input3[['subject_id', 'stay_id', 'starttime', 'itemid', 'totalamount', 'totalamountuom', 'label']]

input3.head()

,subject_id,stay_id,starttime,itemid,totalamount,totalamountuom,label
0,10002428,34807493,2156-05-01 08:00:00,225799,30.0,mL,Gastric Meds
2,10002428,34807493,2156-05-01 08:00:00,226453,50.0,mL,GT Flush
3,10002428,34807493,2156-05-01 10:00:00,220949,100.0,mL,Dextrose 5%
4,10002428,34807493,2156-05-01 10:00:00,225884,100.0,mL,Metronidazole
5,10002428,34807493,2156-05-01 11:15:00,225158,500.0,mL,NaCl 0.9%

In [24]:
# Check for outliers in the dataframe

summary_stats = input3.groupby('itemid')['totalamount'].agg(
    min_value='min',
    max_value='max',
    median_value='median'
).reset_index()

# Load the d_items CSV
d_items_path = '/Users/mmurali1/Documents/Imperial/MIMICIV_analysis/mimic-iv-3.1/icu/d_items.csv'
d_items = pd.read_csv(d_items_path)

# Merge the label column with null_counts using itemid
summary_stats = summary_stats.merge(
    d_items[['itemid', 'label']],  
    on='itemid',
    how='left' 
)

print(summary_stats)

    itemid  min_value  max_value  median_value                       label
0   220862     10.000     1000.0          50.0                 Albumin 25%
1   220864     41.667     1000.0         250.0                  Albumin 5%
2   220949      0.500    10000.0         200.0                 Dextrose 5%
3   220970     30.000     3266.0         298.0         Fresh Frozen Plasma
4   221289     50.000      250.0         250.0                 Epinephrine
..     ...        ...        ...           ...                         ...
73  228364   1000.000     1000.0        1000.0            Two Cal HN (1/2)
74  229011     40.000     9000.0        1000.0           Jevity 1.5 (Full)
75  229420     30.000      250.0         100.0  Dexmedetomidine (Precedex)
76  229630    250.000      250.0         250.0      Phenylephrine (50/250)
77  229861     50.000       50.0          50.0             Sodium Acetate.

[78 rows x 5 columns]

In [25]:
# Subsetting data to identify reference ranges

input3_subset = input3[input3['itemid'] == 229011]
input3_subset

,subject_id,stay_id,starttime,itemid,totalamount,totalamountuom,label
6952,10020740,35889503,2150-03-26 20:00:00,229011,1000.0,mL,Jevity 1.5 (Full)
6966,10020740,35889503,2150-03-27 22:18:00,229011,1000.0,mL,Jevity 1.5 (Full)
6968,10020740,35889503,2150-03-28 02:16:00,229011,1000.0,mL,Jevity 1.5 (Full)
6972,10020740,35889503,2150-03-28 05:45:00,229011,1000.0,mL,Jevity 1.5 (Full)
6981,10020740,35889503,2150-03-26 16:23:00,229011,1000.0,mL,Jevity 1.5 (Full)
...,...,...,...,...,...,...,...
3173945,19998843,30988867,2187-02-07 04:38:00,229011,1000.0,mL,Jevity 1.5 (Full)
3173969,19998843,30988867,2187-02-07 10:00:00,229011,1000.0,mL,Jevity 1.5 (Full)
3173978,19998843,30988867,2187-02-07 18:05:00,229011,1000.0,mL,Jevity 1.5 (Full)
3174037,19998843,30988867,2187-02-06 12:28:00,229011,1000.0,mL,Jevity 1.5 (Full)
3174043,19998843,30988867,2187-02-06 16:41:00,229011,1000.0,mL,Jevity 1.5 (Full)

In [26]:
# Copy the original DataFrame
input4 = input3.copy()

# Define the reference ranges
valid_ranges = {
    220949: (0, 1000),
    220970: (0, 500),
    221906: (0, 300),
    222011: (0, 250),
    222042: (0, 300),
    222168: (0, 200),
    223258: (0, 2000),
    225152: (0, 500),
    225158: (0, 1000),
    225166: (0, 1000),
    225168: (0, 500),
    225797: (0, 500),
    225798: (0, 500),
    225799: (0, 500),
    225823: (0, 1000),
    225828: (0, 1000),
    225936: (0, 1000),
    225943: (0, 1000),
    225944: (0, 1000),
    225970: (0, 2000),
    226089: (0, 1000),
    226452: (0, 500),
    226453: (0, 500),
    226880: (0, 1000),
    227526: (0, 1000),
    227529: (0, 1000),
    228351: (0, 2000),
    229011: (0, 1000),
}

# Separate into rows with itemids in valid_ranges and the rest
to_filter = input4[input4['itemid'].isin(valid_ranges.keys())].copy()
to_keep = input4[~input4['itemid'].isin(valid_ranges.keys())].copy()

# Apply filtering to to_filter
def in_valid_range(row):
    low, high = valid_ranges[row['itemid']]
    return low <= row['totalamount'] <= high

filtered = to_filter[to_filter.apply(in_valid_range, axis=1)]

# Concatenate the filtered and unfiltered subsets
input4 = pd.concat([filtered, to_keep], ignore_index=True)

In [27]:
input4.head()

,subject_id,stay_id,starttime,itemid,totalamount,totalamountuom,label
0,10002428,34807493,2156-05-01 08:00:00,225799,30.0,mL,Gastric Meds
1,10002428,34807493,2156-05-01 08:00:00,226453,50.0,mL,GT Flush
2,10002428,34807493,2156-05-01 10:00:00,220949,100.0,mL,Dextrose 5%
3,10002428,34807493,2156-05-01 11:15:00,225158,500.0,mL,NaCl 0.9%
4,10002428,34807493,2156-05-01 12:00:00,225799,10.0,mL,Gastric Meds

In [28]:
input4.shape

(2500032, 7)

In [29]:
# Check for outliers in the dataframe

summary_stats = input4.groupby('itemid')['totalamount'].agg(
    min_value='min',
    max_value='max',
    median_value='median'
).reset_index()

# Load the d_items CSV
d_items_path = '/Users/mmurali1/Documents/Imperial/MIMICIV_analysis/mimic-iv-3.1/icu/d_items.csv'
d_items = pd.read_csv(d_items_path)

# Merge the label column with null_counts using itemid
summary_stats = summary_stats.merge(
    d_items[['itemid', 'label']],  
    on='itemid',
    how='left' 
)

print(summary_stats)

    itemid  min_value  max_value  median_value                       label
0   220862     10.000     1000.0          50.0                 Albumin 25%
1   220864     41.667     1000.0         250.0                  Albumin 5%
2   220949      0.500     1000.0         200.0                 Dextrose 5%
3   220970     30.000      500.0         298.0         Fresh Frozen Plasma
4   221289     50.000      250.0         250.0                 Epinephrine
..     ...        ...        ...           ...                         ...
73  228364   1000.000     1000.0        1000.0            Two Cal HN (1/2)
74  229011     40.000     1000.0        1000.0           Jevity 1.5 (Full)
75  229420     30.000      250.0         100.0  Dexmedetomidine (Precedex)
76  229630    250.000      250.0         250.0      Phenylephrine (50/250)
77  229861     50.000       50.0          50.0             Sodium Acetate.

[78 rows x 5 columns]

In [30]:
input5 = input4.copy()

In [31]:
# Create dataframe which sums 24h input

# Make a copy of the dataframe
input6 = input5.copy()

# Extract the date part for grouping
input6['start_date'] = input6['starttime'].dt.date

# Group by subject_id, stay_id, and start_date
input6 = (
    input6
    .groupby(['subject_id', 'stay_id', 'start_date'])
    .agg(
        starttime=('starttime', 'min'),         # earliest time in the day
        totalamount=('totalamount', 'sum')      # total input in 24h
    )
    .reset_index()
    .rename(columns={'totalamount': '24h_input'})
)

input6.head()

   subject_id   stay_id  start_date           starttime  24h_input
0    10002428  33987268  2156-04-12 2156-04-12 17:30:00     2900.0
1    10002428  33987268  2156-04-13 2156-04-13 00:00:00     6440.0
2    10002428  33987268  2156-04-14 2156-04-14 03:04:00     6150.0
3    10002428  33987268  2156-04-15 2156-04-15 00:10:00     2040.0
4    10002428  33987268  2156-04-16 2156-04-16 05:13:00      800.0

In [32]:
input6.shape

(82296, 5)

In [33]:
file_path = '/Users/mmurali1/Documents/Imperial/MIMICIV_analysis/outputevents.csv'

# Load the CSV into a DataFrame
output = pd.read_csv(file_path)

# Display the first few rows to confirm it loaded correctly
print(output.head())

   subject_id   stay_id  itemid            charttime  value valueuom
0    10002428  34807493  226559  2156-05-01 07:00:00   35.0       mL
1    10002428  34807493  226559  2156-05-01 08:00:00   35.0       mL
2    10002428  34807493  226559  2156-05-01 09:00:00   35.0       mL
3    10002428  34807493  226559  2156-05-01 10:00:00   35.0       mL
4    10002428  34807493  226559  2156-05-01 11:00:00   35.0       mL

In [34]:
output.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1379313 entries, 0 to 1379312
Data columns (total 6 columns):
 #   Column      Non-Null Count    Dtype
---  ------      --------------    -----
 0   subject_id  1379313 non-null  int64
 1   stay_id     1379313 non-null  int64
 2   itemid      1379313 non-null  int64
 3   charttime   1379313 non-null  object
 4   value       1379313 non-null  float64
 5   valueuom    1379313 non-null  object
dtypes: float64(1), int64(3), object(2)
memory usage: 63.1+ MB

In [35]:
# Convert charttime to an datetime
output['charttime'] = output['charttime'].astype('datetime64[ns]')
output.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1379313 entries, 0 to 1379312
Data columns (total 6 columns):
 #   Column      Non-Null Count    Dtype
---  ------      --------------    -----
 0   subject_id  1379313 non-null  int64
 1   stay_id     1379313 non-null  int64
 2   itemid      1379313 non-null  int64
 3   charttime   1379313 non-null  datetime64[ns]
 4   value       1379313 non-null  float64
 5   valueuom    1379313 non-null  object
dtypes: datetime64[ns](1), float64(1), int64(3), object(1)
memory usage: 63.1+ MB

In [36]:
# Count the number of unique subject_ids / patients in this dataframe
print(f'Number of patients: {output["subject_id"].nunique()}')

Number of patients: 5825

In [37]:
# Load the d_items CSV
d_items_path = '/Users/mmurali1/Documents/Imperial/MIMICIV_analysis/mimic-iv-3.1/icu/d_items.csv'
d_items = pd.read_csv(d_items_path)

# Merge the label column into the ventilation dataframe using itemid
output = output.merge(
    d_items[['itemid', 'label']],  # Only keep necessary columns
    on='itemid',
    how='left'  # Keep all rows from ventilation
)

In [38]:
output.head(10)

   subject_id   stay_id  itemid           charttime  value valueuom  label
0    10002428  34807493  226559 2156-05-01 07:00:00   35.0       mL  Foley
1    10002428  34807493  226559 2156-05-01 08:00:00   35.0       mL  Foley
2    10002428  34807493  226559 2156-05-01 09:00:00   35.0       mL  Foley
3    10002428  34807493  226559 2156-05-01 10:00:00   35.0       mL  Foley
4    10002428  34807493  226559 2156-05-01 11:00:00   35.0       mL  Foley
5    10002428  34807493  226559 2156-05-01 12:00:00   15.0       mL  Foley
6    10002428  34807493  226559 2156-05-01 13:00:00   20.0       mL  Foley
7    10002428  34807493  226559 2156-05-01 14:00:00   20.0       mL  Foley
8    10002428  34807493  226559 2156-05-01 15:00:00   30.0       mL  Foley
9    10002428  34807493  226559 2156-05-01 16:00:00   30.0       mL  Foley

In [39]:
# Group by itemid and count nulls in 'value' column
null_counts = output.groupby('itemid').agg(
    null_value=('value', lambda x: x.isnull().sum()),
).reset_index()

In [40]:
null_counts

    itemid  null_value
0   226557           0
1   226558           0
2   226559           0
3   226560           0
4   226561           0
..     ...         ...
66  227510           0
67  227511           0
68  227701           0
69  229413           0
70  229414           0

[71 rows x 2 columns]

In [41]:
# Load the d_items CSV
d_items_path = '/Users/mmurali1/Documents/Imperial/MIMICIV_analysis/mimic-iv-3.1/icu/d_items.csv'
d_items = pd.read_csv(d_items_path)

# Merge the label column with null_counts using itemid
null_counts = null_counts.merge(
    d_items[['itemid', 'label']],  
    on='itemid',
    how='left' 
)

null_counts

    itemid  null_value               label
0   226557           0    R Ureteral Stent
1   226558           0    L Ureteral Stent
2   226559           0               Foley
3   226560           0                Void
4   226561           0         Condom Cath
..     ...         ...                 ...
66  227510           0         TF Residual
67  227511           0  TF Residual Output
68  227701           0        Drainage Bag
69  229413           0       Chest Tube #3
70  229414           0       Chest Tube #4

[71 rows x 3 columns]

In [42]:
filtered_null_counts = null_counts[
    (null_counts['null_value'] > 0)]

filtered_null_counts

Empty DataFrame
Columns: [itemid, null_value, label]
Index: []

In [43]:
pd.set_option('display.max_rows', None)     # Show all rows

null_counts

    itemid  null_value                         label
0   226557           0              R Ureteral Stent
1   226558           0              L Ureteral Stent
2   226559           0                         Foley
3   226560           0                          Void
4   226561           0                   Condom Cath
5   226563           0                    Suprapubic
6   226564           0                 R Nephrostomy
7   226565           0                 L Nephrostomy
8   226567           0                 Straight Cath
9   226569           0            Anderson (gastric)
10  226570           0                     Blakemore
11  226571           0                        Emesis
12  226572           0                         Ewald
13  226573           0                  Gastric Tube
14  226574           0                   Jejunostomy
15  226575           0                   Nasogastric
16  226576           0                  Oral Gastric
17  226579           0                         Stool
18  226580           0                     Fecal Bag
19  226582           0               Ostomy (output)
20  226583           0                   Rectal Tube
21  226584           0                   Ileoconduit
22  226588           0                 Chest Tube #1
23  226589           0                 Chest Tube #2
24  226590           0                  L Pleural #1
25  226591           0                  L Pleural #2
26  226592           0                   Mediastinal
27  226593           0                  R Pleural #1
28  226595           0                  R Pleural #2
29  226597           0                     JP Medial
30  226598           0                    JP Lateral
31  226599           0              Jackson Pratt #1
32  226600           0              Jackson Pratt #2
33  226601           0              Jackson Pratt #3
34  226602           0              Jackson Pratt #4
35  226603           0                        T Tube
36  226604           0                    Hemovac #1
37  226605           0                    Hemovac #2
38  226606           0       Cerebral Ventricular #1
39  226607           0       Cerebral Ventricular #2
40  226608           0          Cerebral Subdural #1
41  226609           0          Cerebral Subdural #2
42  226610           0                        Lumbar
43  226612           0                   Pericardial
44  226613           0                  Wound Vac #1
45  226614           0                  Wound Vac #2
46  226616           0                      Anderson
47  226617           0                       Sump #1
48  226618           0                       Sump #2
49  226619           0                    Pigtail #1
50  226620           0                    Pigtail #2
51  226621           0                         Davol
52  226622           0                    Red Rubber
53  226623           0                    Penrose #1
54  226624           0                    Penrose #2
55  226625           0                           Tap
56  226626           0                        OR EBL
57  226627           0                      OR Urine
58  226628           0                   PACU Drains
59  226629           0                      PACU EBL
60  226630           0                  PACU Gastric
61  226631           0                    PACU Urine
62  226632           0                      Cath Lab
63  226633           0                 Pre-Admission
64  227488           0         GU Irrigant Volume In
65  227489           0  GU Irrigant/Urine Volume Out
66  227510           0                   TF Residual
67  227511           0            TF Residual Output
68  227701           0                  Drainage Bag
69  229413           0                 Chest Tube #3
70  229414           0                 Chest Tube #4

In [44]:
output2 = output.copy()

pd.reset_option('display.max_rows')

In [45]:
# Group by itemid
grouped = output2.groupby('itemid')

# Define the frequency function
def avg_obs_per_20_hours(group):
    n_obs = len(group)
    time_span_hours = (group['charttime'].max() - group['charttime'].min()).total_seconds() / 3600
    return (n_obs / time_span_hours * 20) if time_span_hours > 0 else float('nan')

# Apply the function to the cleaned dataframe
avg_freq_df = grouped.apply(avg_obs_per_20_hours).reset_index(name='avg_obs_per_20_hours')

avg_freq_df

/var/folders/ks/xzsx5z1n0zv653847sbsxy7r0000gp/T/ipykernel_83583/1680393632.py:11: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  avg_freq_df = grouped.apply(avg_obs_per_20_hours).reset_index(name='avg_obs_per_20_hours')

    itemid  avg_obs_per_20_hours
0   226557              0.008882
1   226558              0.002945
2   226559             23.324210
3   226560              0.702340
4   226561              0.192176
..     ...                   ...
66  227510              0.853695
67  227511              0.088838
68  227701              0.140177
69  229413              0.010207
70  229414              3.399433

[71 rows x 2 columns]

In [46]:
# Load the d_items CSV
d_items_path = '/Users/mmurali1/Documents/Imperial/MIMICIV_analysis/mimic-iv-3.1/icu/d_items.csv'
d_items = pd.read_csv(d_items_path)

# Merge the label column with null_counts using itemid
avg_freq_df = avg_freq_df.merge(
    d_items[['itemid', 'label']],  
    on='itemid',
    how='left' 
)

avg_freq_df

    itemid  avg_obs_per_20_hours               label
0   226557              0.008882    R Ureteral Stent
1   226558              0.002945    L Ureteral Stent
2   226559             23.324210               Foley
3   226560              0.702340                Void
4   226561              0.192176         Condom Cath
..     ...                   ...                 ...
66  227510              0.853695         TF Residual
67  227511              0.088838  TF Residual Output
68  227701              0.140177        Drainage Bag
69  229413              0.010207       Chest Tube #3
70  229414              3.399433       Chest Tube #4

[71 rows x 3 columns]

In [47]:
# Dropping features that are measured < 0.1 times per 20-hour period

# Identify low-frequency itemids
low_freq_itemids = avg_freq_df[avg_freq_df['avg_obs_per_20_hours'] < 0.1]['itemid'].tolist()

# Drop them from output2
output3 = output2[~output2['itemid'].isin(low_freq_itemids)].copy()

output3.shape

(1315294, 7)

In [48]:
output3 = output3[['subject_id', 'stay_id', 'itemid', 'charttime', 'value', 'label']]

output3.head()

   subject_id   stay_id  itemid           charttime  value  label
0    10002428  34807493  226559 2156-05-01 07:00:00   35.0  Foley
1    10002428  34807493  226559 2156-05-01 08:00:00   35.0  Foley
2    10002428  34807493  226559 2156-05-01 09:00:00   35.0  Foley
3    10002428  34807493  226559 2156-05-01 10:00:00   35.0  Foley
4    10002428  34807493  226559 2156-05-01 11:00:00   35.0  Foley

In [49]:
# Check for outliers in the dataframe

summary_stats = output3.groupby('itemid')['value'].agg(
    min_value='min',
    max_value='max',
    median_value='median'
).reset_index()

# Load the d_items CSV
d_items_path = '/Users/mmurali1/Documents/Imperial/MIMICIV_analysis/mimic-iv-3.1/icu/d_items.csv'
d_items = pd.read_csv(d_items_path)

# Merge the label column with null_counts using itemid
summary_stats = summary_stats.merge(
    d_items[['itemid', 'label']],  
    on='itemid',
    how='left' 
)

print(summary_stats)

    itemid  min_value  max_value  median_value                    label
0   226559        0.0    25025.0          80.0                    Foley
1   226560        0.0     2600.0         250.0                     Void
2   226561        0.0     1900.0         175.0              Condom Cath
3   226572        0.0      700.0         250.0                    Ewald
4   226575        0.0    15000.0         100.0              Nasogastric
5   226576        0.0     3000.0         100.0             Oral Gastric
6   226579       -1.0     4000.0         200.0                    Stool
7   226580      -45.0     2000.0         300.0                Fecal Bag
8   226582        0.0     2000.0         150.0          Ostomy (output)
9   226588      -30.0     3000.0          25.0            Chest Tube #1
10  226589      -30.0     2500.0          20.0            Chest Tube #2
11  226590      -30.0     2160.0          20.0             L Pleural #1
12  226597        0.0     2300.0          50.0                JP Medial
13  226598        0.0     2000.0          50.0               JP Lateral
14  226599        0.0     1600.0          50.0         Jackson Pratt #1
15  226600        0.0     1000.0          30.0         Jackson Pratt #2
16  226606        0.0      170.0          10.0  Cerebral Ventricular #1
17  226613        0.0     8000.0         100.0             Wound Vac #1
18  226616      300.0      300.0         300.0                 Anderson
19  227510        0.0     1800.0          10.0              TF Residual
20  227701      -20.0     5000.0         100.0             Drainage Bag
21  229414        0.0      250.0          40.0            Chest Tube #4

In [50]:
# Copy the original DataFrame
output4 = output3.copy()

# Define the reference ranges
valid_ranges = {
    226559: (0, 2000),
    226560: (0, 2000),
    226561: (0, 2000),
    226575: (0, 2000),
    226576: (0, 2000),
    226579: (0, 2000),
    226580: (0, 2000),
    226582: (0, 2000),
    226588: (0, 2000),
    226589: (0, 2000),
    226590: (0, 2000),
    226597: (0, 2000),
    226613: (0, 500),
    227510: (0, 500),
    227701: (0, 500),
}

# Separate into rows with itemids in valid_ranges and the rest
to_filter = output4[output4['itemid'].isin(valid_ranges.keys())].copy()
to_keep = output4[~output4['itemid'].isin(valid_ranges.keys())].copy()

# Apply filtering to to_filter
def in_valid_range(row):
    low, high = valid_ranges[row['itemid']]
    return low <= row['value'] <= high

filtered = to_filter[to_filter.apply(in_valid_range, axis=1)]

# Concatenate the filtered and unfiltered subsets
output4 = pd.concat([filtered, to_keep], ignore_index=True)

In [51]:
output4.head()

   subject_id   stay_id  itemid           charttime  value  label
0    10002428  34807493  226559 2156-05-01 07:00:00   35.0  Foley
1    10002428  34807493  226559 2156-05-01 08:00:00   35.0  Foley
2    10002428  34807493  226559 2156-05-01 09:00:00   35.0  Foley
3    10002428  34807493  226559 2156-05-01 10:00:00   35.0  Foley
4    10002428  34807493  226559 2156-05-01 11:00:00   35.0  Foley

In [52]:
output4.shape

(1314752, 6)

In [53]:
# Check for outliers in the dataframe

summary_stats = output4.groupby('itemid')['value'].agg(
    min_value='min',
    max_value='max',
    median_value='median'
).reset_index()

# Load the d_items CSV
d_items_path = '/Users/mmurali1/Documents/Imperial/MIMICIV_analysis/mimic-iv-3.1/icu/d_items.csv'
d_items = pd.read_csv(d_items_path)

# Merge the label column with null_counts using itemid
summary_stats = summary_stats.merge(
    d_items[['itemid', 'label']],  
    on='itemid',
    how='left' 
)

print(summary_stats)

    itemid  min_value  max_value  median_value                    label
0   226559        0.0     2000.0          80.0                    Foley
1   226560        0.0     2000.0         250.0                     Void
2   226561        0.0     1900.0         175.0              Condom Cath
3   226572        0.0      700.0         250.0                    Ewald
4   226575        0.0     2000.0         100.0              Nasogastric
5   226576        0.0     2000.0         100.0             Oral Gastric
6   226579        0.0     2000.0         200.0                    Stool
7   226580        0.0     2000.0         300.0                Fecal Bag
8   226582        0.0     2000.0         150.0          Ostomy (output)
9   226588        0.0     2000.0          25.0            Chest Tube #1
10  226589        0.0     2000.0          20.0            Chest Tube #2
11  226590        0.0     1900.0          20.0             L Pleural #1
12  226597        0.0     2000.0          50.0                JP Medial
13  226598        0.0     2000.0          50.0               JP Lateral
14  226599        0.0     1600.0          50.0         Jackson Pratt #1
15  226600        0.0     1000.0          30.0         Jackson Pratt #2
16  226606        0.0      170.0          10.0  Cerebral Ventricular #1
17  226613        0.0      500.0         100.0             Wound Vac #1
18  226616      300.0      300.0         300.0                 Anderson
19  227510        0.0      500.0          10.0              TF Residual
20  227701        0.0      500.0         100.0             Drainage Bag
21  229414        0.0      250.0          40.0            Chest Tube #4

In [54]:
output5 = output4.copy()

In [55]:
output5.head()

   subject_id   stay_id  itemid           charttime  value  label
0    10002428  34807493  226559 2156-05-01 07:00:00   35.0  Foley
1    10002428  34807493  226559 2156-05-01 08:00:00   35.0  Foley
2    10002428  34807493  226559 2156-05-01 09:00:00   35.0  Foley
3    10002428  34807493  226559 2156-05-01 10:00:00   35.0  Foley
4    10002428  34807493  226559 2156-05-01 11:00:00   35.0  Foley

In [56]:
# Create dataframe which sums 24h output

# Make a copy of the dataframe
output6 = output5.copy()

# Extract the date part for grouping
output6['start_date'] = output6['charttime'].dt.date

# Group by subject_id, stay_id, and start_date
output6 = (
    output6
    .groupby(['subject_id', 'stay_id', 'start_date'])
    .agg(
        charttime=('charttime', 'min'),   # earliest time in the day
        value=('value', 'sum')            # total output in 24h
    )
    .reset_index()
    .rename(columns={'value': '24h_output'})
)

output6.head()

   subject_id   stay_id  start_date           charttime  24h_output
0    10002428  33987268  2156-04-12 2156-04-12 18:05:00       355.0
1    10002428  33987268  2156-04-13 2156-04-13 00:00:00       560.0
2    10002428  33987268  2156-04-14 2156-04-14 00:00:00       437.0
3    10002428  33987268  2156-04-15 2156-04-15 00:00:00       507.0
4    10002428  33987268  2156-04-16 2156-04-16 00:00:00       730.0

In [57]:
# Merge input6 and output6 on subject_id, stay_id, and start_date
fb_df = pd.merge(
    input6[['subject_id', 'stay_id', 'start_date', '24h_input']],
    output6[['subject_id', 'stay_id', 'start_date', '24h_output']],
    on=['subject_id', 'stay_id', 'start_date'],
    how='outer'
)

# Compute fluid balance: 24_input - 24_output
fb_df['24h_fb'] = fb_df['24h_input'].fillna(0) - fb_df['24h_output'].fillna(0)

fb_df.head()

   subject_id   stay_id  start_date  24h_input  24h_output  24h_fb
0    10002428  33987268  2156-04-12     2900.0       355.0  2545.0
1    10002428  33987268  2156-04-13     6440.0       560.0  5880.0
2    10002428  33987268  2156-04-14     6150.0       437.0  5713.0
3    10002428  33987268  2156-04-15     2040.0       507.0  1533.0
4    10002428  33987268  2156-04-16      800.0       730.0    70.0

In [59]:
# Add new columns with constant values
fb_df['itemid'] = 123456
fb_df['label'] = 'Fluid balance'

# Rename columns
fb_df = fb_df.rename(columns={
    '24h_fb': 'valuenum',
    'start_date': 'charttime'
})

# Drop unnecessary columns
fb_df = fb_df.drop(columns=['24h_input', '24h_output'])

In [60]:
file_path = '/Users/mmurali1/Documents/Imperial/MIMICIV_analysis/postwean.csv'

# Load the CSV into a DataFrame
outcomes = pd.read_csv(file_path)

outcomes = outcomes[['subject_id', 'stay_id', 'ventilation_time', 'ext_success']]
outcomes = outcomes.drop_duplicates()
fb_df = pd.merge(
    fb_df,
    outcomes[['subject_id', 'ext_success']],
    on=['subject_id'],
    how='inner'  # 
)

In [61]:
fb_df.head()

,subject_id,stay_id,charttime,valuenum,itemid,label,ext_success
0,10002428,33987268,2156-04-12,2545.0,123456,Fluid balance,1
1,10002428,33987268,2156-04-13,5880.0,123456,Fluid balance,1
2,10002428,33987268,2156-04-14,5713.0,123456,Fluid balance,1
3,10002428,33987268,2156-04-15,1533.0,123456,Fluid balance,1
4,10002428,33987268,2156-04-16,70.0,123456,Fluid balance,1

In [64]:
import os

fb_df.to_csv("/Users/mmurali1/Documents/Imperial/MIMICIV_analysis/fb_cleaned_combi.csv", index=False)

In [63]:
fb_df.shape

(99234, 7)

In [62]:
fb_df.isnull().sum()

subject_id     0
stay_id        0
charttime      0
valuenum       0
itemid         0
label          0
ext_success    0
dtype: int64

In [82]:
# Normalise each value in the 24h_fb column using MinMaxScalar

from sklearn.preprocessing import MinMaxScaler

# Apply MinMaxScaler to 24h_fb
scaler = MinMaxScaler()
fb_df["24hfb_normalized"] = scaler.fit_transform(fb_df[["24h_fb"]])

In [83]:
fb_df.head(50)

,subject_id,stay_id,start_date,24h_input,24h_output,24h_fb,24hfb_normalized
0,10002428,33987268,2156-04-12,2900.0,355.0,2545.0,0.205418
1,10002428,33987268,2156-04-13,6440.0,560.0,5880.0,0.252469
2,10002428,33987268,2156-04-14,6150.0,437.0,5713.0,0.250113
3,10002428,33987268,2156-04-15,2040.0,507.0,1533.0,0.191140
4,10002428,33987268,2156-04-16,800.0,730.0,70.0,0.170499
5,10002428,33987268,2156-04-17,400.0,990.0,-590.0,0.161188
6,10002428,34807493,2156-04-30,1000.0,NaN,1000.0,0.183620
7,10002428,34807493,2156-05-01,2420.0,1138.0,1282.0,0.187599
8,10002428,34807493,2156-05-02,1350.0,1260.0,90.0,0.170782
9,10002428,35479615,2156-05-11,3960.0,625.0,3335.0,0.216563
10,10002428,35479615,2156-05-12,13835.0,2230.0,11605.0,0.333239
11,10002428,35479615,2156-05-13,9970.0,1315.0,8655.0,0.291620
12,10002428,35479615,2156-05-14,1939.0,2455.0,-516.0,0.162232
13,10002428,35479615,2156-05-15,2130.0,1620.0,510.0,0.176707
14,10002428,35479615,2156-05-16,1165.0,1030.0,135.0,0.171416
15,10002428,35479615,2156-05-17,1425.0,3720.0,-2295.0,0.137133
16,10002428,35479615,2156-05-18,1820.0,871.0,949.0,0.182901
17,10002428,35479615,2156-05-19,1360.0,2810.0,-1450.0,0.149055
18,10002428,35479615,2156-05-20,1010.0,3080.0,-2070.0,0.140308
19,10002428,35479615,2156-05-21,420.0,2915.0,-2495.0,0.134312
20,10002428,35479615,2156-05-22,150.0,990.0,-840.0,0.157661
21,10002428,38875437,2156-04-19,2100.0,570.0,1530.0,0.191098
22,10002428,38875437,2156-04-20,10410.0,1310.0,9100.0,0.297898
23,10002428,38875437,2156-04-21,5710.0,1570.0,4140.0,0.227920
24,10002428,38875437,2156-04-22,4705.0,4165.0,540.0,0.177130
25,10002428,38875437,2156-04-23,1945.0,3635.0,-1690.0,0.145669
26,10002428,38875437,2156-04-24,1800.0,3405.0,-1605.0,0.146868
27,10002428,38875437,2156-04-25,1270.0,2760.0,-1490.0,0.148490
28,10002428,38875437,2156-04-26,450.0,2475.0,-2025.0,0.140942
29,10003400,32128372,2137-02-26,24126.0,1875.0,22251.0,0.483437
30,10003400,32128372,2137-02-27,12711.0,1397.0,11314.0,0.329134
31,10003400,32128372,2137-02-28,6275.0,2470.0,3805.0,0.223194
32,10003400,32128372,2137-03-01,4555.0,3140.0,1415.0,0.189475
33,10003400,32128372,2137-03-02,2240.0,2435.0,-195.0,0.166761
34,10003400,32128372,2137-03-03,530.0,2075.0,-1545.0,0.147714
35,10003400,32128372,2137-03-04,1585.0,2597.0,-1012.0,0.155234
36,10003400,32128372,2137-03-05,530.0,2115.0,-1585.0,0.147150
37,10003400,32128372,2137-03-06,420.0,2390.0,-1970.0,0.141718
38,10003400,32128372,2137-03-07,2220.0,1710.0,510.0,0.176707
39,10003400,32128372,2137-03-08,5363.0,1524.0,3839.0,0.223674
40,10003400,32128372,2137-03-09,1420.0,2757.0,-1337.0,0.150649
41,10003400,32128372,2137-03-10,1690.0,1574.0,116.0,0.171148
42,10003400,34577403,2137-08-10,3400.0,105.0,3295.0,0.215999
43,10003400,34577403,2137-08-11,6620.0,832.0,5788.0,0.251171
44,10003400,34577403,2137-08-12,4970.0,700.0,4270.0,0.229755
45,10003400,34577403,2137-08-13,2680.0,685.0,1995.0,0.197658
46,10003400,38383343,2137-08-17,2175.0,NaN,2175.0,0.200198
47,10003400,38383343,2137-08-18,8540.0,2465.0,6075.0,0.255220
48,10003400,38383343,2137-08-19,9740.0,1254.0,8486.0,0.289235
49,10003400,38383343,2137-08-20,6650.0,2414.0,4236.0,0.229275

In [84]:
import os

fb_df.to_csv("/Users/mmurali1/Documents/Imperial/MIMICIV_analysis/fb_cleaned.csv", index=False)