In [1]:
import pandas as pd
import numpy as np
import sqlite3
import os

In [2]:
file_path = '/Users/mmurali1/Documents/Imperial/MIMICIV_analysis/postwean.csv'

# Load the CSV into a DataFrame
patients = pd.read_csv(file_path)

# Display the first few rows to confirm it loaded correctly
print(patients.head())

   original_index  subject_id     hadm_id   stay_id  hadm_no  stay_no  \
0              16    10002428  28662225.0  38875437        1        1
1              17    10002428  28662225.0  38875437        1        1
2              18    10002428  28662225.0  38875437        1        1
3              19    10002428  28662225.0  38875437        1        1
4              20    10002428  28662225.0  38875437        1        1

  intubation_time ventilation_starttime  ventilation_endtime  \
0             NaN   2156-04-19 20:10:00  2156-04-22 17:05:00
1             NaN   2156-04-19 20:10:00  2156-04-22 17:05:00
2             NaN   2156-04-19 20:10:00  2156-04-22 17:05:00
3             NaN   2156-04-19 20:10:00  2156-04-22 17:05:00
4             NaN   2156-04-19 20:10:00  2156-04-22 17:05:00

   ventilation_time  ... age  niv_48 reintubation_48  died_48  ext_success  \
0            4135.0  ...  80     NaN             NaN      NaN            1
1            4135.0  ...  80     NaN             NaN      NaN            1
2            4135.0  ...  80     NaN             NaN      NaN            1
3            4135.0  ...  80     NaN             NaN      NaN            1
4            4135.0  ...  80     NaN             NaN      NaN            1

             charttime      mode  mode_code  ventilation_type  support_index
0  2156-04-22 09:00:00  CPAP/PSV       11.0           Support           16.0
1  2156-04-22 12:00:00  CPAP/PSV       11.0           Support           16.0
2  2156-04-22 13:00:00  CPAP/PSV       11.0           Support           16.0
3  2156-04-22 15:00:00  CPAP/PSV       11.0           Support           16.0
4  2156-04-22 16:00:00   PSV/SBT        NaN             Other           16.0

[5 rows x 28 columns]

In [10]:
import sqlite3
import os

# File path to CSV
csv_path = "/Users/mmurali1/Documents/Imperial/MIMICIV_analysis/mimic-iv-3.1/icu/chartevents.csv"

# Create SQLite database
db_path = "/Users/mmurali1/Documents/Imperial/MIMICIV_analysis/chartevents.db"
conn = sqlite3.connect(db_path)

# Read and write in chunks
chunksize = 100_000
for chunk in pd.read_csv(csv_path, chunksize=chunksize):
    chunk.to_sql("chartevents", conn, if_exists="append", index=False)

print("✅ SQLite database created and data imported.")

✅ SQLite database created and data imported.

In [3]:
db_path = "/Users/mmurali1/Documents/Imperial/MIMICIV_analysis/chartevents.db"

In [4]:
def query_chartevents_features(patients, features, db_path):
    conn = sqlite3.connect(db_path)
    
    subject_ids = ','.join(map(str, patients['subject_id'].unique()))
    stay_ids = ','.join(map(str, patients['stay_id'].unique()))
    itemids = ','.join(map(str, features))

    query = f"""
    SELECT subject_id, stay_id, charttime, itemid, value, valuenum
    FROM chartevents
    WHERE subject_id IN ({subject_ids})
      AND stay_id IN ({stay_ids})
      AND itemid IN ({itemids})
    """

    df = pd.read_sql_query(query, conn)
    conn.close()
    return df

In [5]:
features = [223836, 223849, 224369, 224370, 224372, 224373, 224712, 224715, 224716, 224735, 220210, 220339, 224684, 224685, 224686, 224687, 224688, 224689, 224691, 224695, 224696, 224697, 224700, 224701, 224702, 224711, 224738, 223835]

In [9]:
chartevents_ventilation = query_chartevents_features(patients, features, db_path)

In [10]:
chartevents_ventilation.shape

(4657752, 6)

In [11]:
chartevents_ventilation.head()

,subject_id,stay_id,charttime,itemid,value,valuenum
0,10002428,38875437,2156-04-22 07:00:00,220339,10,10.0
1,10002428,38875437,2156-04-22 07:00:00,223835,40,40.0
2,10002428,38875437,2156-04-22 07:00:00,223849,CMV/ASSIST/AutoFlow,49.0
3,10002428,38875437,2156-04-22 07:00:00,224684,350,350.0
4,10002428,38875437,2156-04-22 07:00:00,224685,437,437.0

In [12]:
chartevents_ventilation.to_csv("/Users/mmurali1/Documents/Imperial/MIMICIV_analysis/chartevents_ventilation.csv", index=False)

In [5]:
features = [226228, 226512, 226730]

In [6]:
chartevents_demographics = query_chartevents_features(patients, features, db_path)

In [7]:
chartevents_demographics.head()

   subject_id   stay_id            charttime  itemid value  valuenum
0    10002428  38875437  2156-04-12 16:24:00  226512    43      43.0
1    10004235  34100191  2196-02-24 14:39:00  226512   127     127.0
2    10004235  34100191  2196-02-24 14:39:00  226730   183     183.0
3    10004401  39699336  2144-06-05 19:46:00  226512  86.1      86.1
4    10004401  39699336  2144-06-05 19:46:00  226730   170     170.0

In [8]:
chartevents_demographics.to_csv("/Users/mmurali1/Documents/Imperial/MIMICIV_analysis/chartevents_demographics.csv", index=False)

In [4]:
features = [220045, 220050, 220051, 220052, 220179, 220180, 220181, 223761, 223762, 224689, 228232, 220277, 228640]

In [7]:
chartevents_vitals = query_chartevents_features(patients, features, db_path)

In [8]:
chartevents_vitals.head()

   subject_id   stay_id            charttime  itemid value  valuenum
0    10002428  38875437  2156-04-22 07:00:00  224689     0       0.0
1    10002428  38875437  2156-04-22 09:00:00  224689    26      26.0
2    10002428  38875437  2156-04-22 12:00:00  224689    24      24.0
3    10002428  38875437  2156-04-22 13:00:00  224689    23      23.0
4    10002428  38875437  2156-04-22 15:00:00  224689    22      22.0

In [10]:
chartevents_vitals.to_csv("/Users/mmurali1/Documents/Imperial/MIMICIV_analysis/chartevents_vitals.csv", index=False)

In [124]:
features = [228109, 228110, 226987]

In [125]:
chartevents_diagnosis = query_chartevents_features(patients, features, db_path)

In [ ]:
chartevents_diagnosis.head()

In [29]:
# File path to CSV
csv_path = "/Users/mmurali1/Documents/Imperial/MIMICIV_analysis/mimic-iv-3.1/hosp/labevents.csv"

# Create SQLite database
db_path = "/Users/mmurali1/Documents/Imperial/MIMICIV_analysis/labevents.db"
conn = sqlite3.connect(db_path)

# Read and write in chunks
chunksize = 100_000
for chunk in pd.read_csv(csv_path, chunksize=chunksize):
    chunk.to_sql("labevents", conn, if_exists="append", index=False)

print("✅ SQLite database created and data imported.")

/var/folders/ks/xzsx5z1n0zv653847sbsxy7r0000gp/T/ipykernel_49850/1730099709.py:10: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv(csv_path, chunksize=chunksize):
/var/folders/ks/xzsx5z1n0zv653847sbsxy7r0000gp/T/ipykernel_49850/1730099709.py:10: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv(csv_path, chunksize=chunksize):
/var/folders/ks/xzsx5z1n0zv653847sbsxy7r0000gp/T/ipykernel_49850/1730099709.py:10: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv(csv_path, chunksize=chunksize):
/var/folders/ks/xzsx5z1n0zv653847sbsxy7r0000gp/T/ipykernel_49850/1730099709.py:10: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv(csv_path, chunksize=chunksize):
/var/folders/ks/xzsx5z1n0zv653847sbsxy7r0000gp/T/ipykernel_49850/1730099709.py:10: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv(csv_path, chunksize=chunksize):
/var/folders/ks/xzsx5z1n0zv653847sbsxy7r0000gp/T/ipykernel_49850/1730099709.py:10: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv(csv_path, chunksize=chunksize):
/var/folders/ks/xzsx5z1n0zv653847sbsxy7r0000gp/T/ipykernel_49850/1730099709.py:10: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv(csv_path, chunksize=chunksize):
/var/folders/ks/xzsx5z1n0zv653847sbsxy7r0000gp/T/ipykernel_49850/1730099709.py:10: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv(csv_path, chunksize=chunksize):
/var/folders/ks/xzsx5z1n0zv653847sbsxy7r0000gp/T/ipykernel_49850/1730099709.py:10: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv(csv_path, chunksize=chunksize):
/var/folders/ks/xzsx5z1n0zv653847sbsxy7r0000gp/T/ipykernel_49850/1730099709.py:10: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv(csv_path, chunksize=chunksize):
/var/folders/ks/xzsx5z1n0zv653847sbsxy7r0000gp/T/ipykernel_49850/1730099709.py:10: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv(csv_path, chunksize=chunksize):
/var/folders/ks/xzsx5z1n0zv653847sbsxy7r0000gp/T/ipykernel_49850/1730099709.py:10: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv(csv_path, chunksize=chunksize):
/var/folders/ks/xzsx5z1n0zv653847sbsxy7r0000gp/T/ipykernel_49850/1730099709.py:10: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv(csv_path, chunksize=chunksize):
/var/folders/ks/xzsx5z1n0zv653847sbsxy7r0000gp/T/ipykernel_49850/1730099709.py:10: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv(csv_path, chunksize=chunksize):
/var/folders/ks/xzsx5z1n0zv653847sbsxy7r0000gp/T/ipykernel_49850/1730099709.py:10: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv(csv_path, chunksize=chunksize):
/var/folders/ks/xzsx5z1n0zv653847sbsxy7r0000gp/T/ipykernel_49850/1730099709.py:10: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv(csv_path, chunksize=chunksize):
/var/folders/ks/xzsx5z1n0zv653847sbsxy7r0000gp/T/ipykernel_49850/1730099709.py:10: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv(csv_path, chunksize=chunksize):
/var/folders/ks/xzsx5z1n0zv653847sbsxy7r0000gp/T/ipykernel_49850/1730099709.py:10: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv(csv_path, chunksize=chunksize):
/var/folders/ks/xzsx5z1n0zv653847sbsxy7r0000gp/T/ipykernel_49850/1730099709.py:10: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv(csv_path, chunksize=chunksize):
/var/folders/ks/xzsx5z1n0zv653847sbsxy7r0000gp/T/ipykernel_49850/1730099709.py:10: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv(csv_path, chunksize=chunksize):
/var/folders/ks/xzsx5z1n0zv653847sbsxy7r0000gp/T/ipykernel_49850/1730099709.py:10: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv(csv_path, chunksize=chunksize):
/var/folders/ks/xzsx5z1n0zv653847sbsxy7r0000gp/T/ipykernel_49850/1730099709.py:10: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv(csv_path, chunksize=chunksize):
/var/folders/ks/xzsx5z1n0zv653847sbsxy7r0000gp/T/ipykernel_49850/1730099709.py:10: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv(csv_path, chunksize=chunksize):
/var/folders/ks/xzsx5z1n0zv653847sbsxy7r0000gp/T/ipykernel_49850/1730099709.py:10: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv(csv_path, chunksize=chunksize):
/var/folders/ks/xzsx5z1n0zv653847sbsxy7r0000gp/T/ipykernel_49850/1730099709.py:10: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv(csv_path, chunksize=chunksize):
/var/folders/ks/xzsx5z1n0zv653847sbsxy7r0000gp/T/ipykernel_49850/1730099709.py:10: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv(csv_path, chunksize=chunksize):
/var/folders/ks/xzsx5z1n0zv653847sbsxy7r0000gp/T/ipykernel_49850/1730099709.py:10: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv(csv_path, chunksize=chunksize):
/var/folders/ks/xzsx5z1n0zv653847sbsxy7r0000gp/T/ipykernel_49850/1730099709.py:10: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv(csv_path, chunksize=chunksize):
/var/folders/ks/xzsx5z1n0zv653847sbsxy7r0000gp/T/ipykernel_49850/1730099709.py:10: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv(csv_path, chunksize=chunksize):
/var/folders/ks/xzsx5z1n0zv653847sbsxy7r0000gp/T/ipykernel_49850/1730099709.py:10: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv(csv_path, chunksize=chunksize):
/var/folders/ks/xzsx5z1n0zv653847sbsxy7r0000gp/T/ipykernel_49850/1730099709.py:10: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv(csv_path, chunksize=chunksize):
/var/folders/ks/xzsx5z1n0zv653847sbsxy7r0000gp/T/ipykernel_49850/1730099709.py:10: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv(csv_path, chunksize=chunksize):
/var/folders/ks/xzsx5z1n0zv653847sbsxy7r0000gp/T/ipykernel_49850/1730099709.py:10: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv(csv_path, chunksize=chunksize):
/var/folders/ks/xzsx5z1n0zv653847sbsxy7r0000gp/T/ipykernel_49850/1730099709.py:10: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv(csv_path, chunksize=chunksize):
/var/folders/ks/xzsx5z1n0zv653847sbsxy7r0000gp/T/ipykernel_49850/1730099709.py:10: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv(csv_path, chunksize=chunksize):
/var/folders/ks/xzsx5z1n0zv653847sbsxy7r0000gp/T/ipykernel_49850/1730099709.py:10: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv(csv_path, chunksize=chunksize):
/var/folders/ks/xzsx5z1n0zv653847sbsxy7r0000gp/T/ipykernel_49850/1730099709.py:10: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv(csv_path, chunksize=chunksize):
/var/folders/ks/xzsx5z1n0zv653847sbsxy7r0000gp/T/ipykernel_49850/1730099709.py:10: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv(csv_path, chunksize=chunksize):
/var/folders/ks/xzsx5z1n0zv653847sbsxy7r0000gp/T/ipykernel_49850/1730099709.py:10: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv(csv_path, chunksize=chunksize):
/var/folders/ks/xzsx5z1n0zv653847sbsxy7r0000gp/T/ipykernel_49850/1730099709.py:10: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv(csv_path, chunksize=chunksize):
/var/folders/ks/xzsx5z1n0zv653847sbsxy7r0000gp/T/ipykernel_49850/1730099709.py:10: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv(csv_path, chunksize=chunksize):
/var/folders/ks/xzsx5z1n0zv653847sbsxy7r0000gp/T/ipykernel_49850/1730099709.py:10: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv(csv_path, chunksize=chunksize):
/var/folders/ks/xzsx5z1n0zv653847sbsxy7r0000gp/T/ipykernel_49850/1730099709.py:10: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv(csv_path, chunksize=chunksize):
/var/folders/ks/xzsx5z1n0zv653847sbsxy7r0000gp/T/ipykernel_49850/1730099709.py:10: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv(csv_path, chunksize=chunksize):
/var/folders/ks/xzsx5z1n0zv653847sbsxy7r0000gp/T/ipykernel_49850/1730099709.py:10: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv(csv_path, chunksize=chunksize):
/var/folders/ks/xzsx5z1n0zv653847sbsxy7r0000gp/T/ipykernel_49850/1730099709.py:10: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv(csv_path, chunksize=chunksize):
/var/folders/ks/xzsx5z1n0zv653847sbsxy7r0000gp/T/ipykernel_49850/1730099709.py:10: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv(csv_path, chunksize=chunksize):
/var/folders/ks/xzsx5z1n0zv653847sbsxy7r0000gp/T/ipykernel_49850/1730099709.py:10: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv(csv_path, chunksize=chunksize):
/var/folders/ks/xzsx5z1n0zv653847sbsxy7r0000gp/T/ipykernel_49850/1730099709.py:10: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv(csv_path, chunksize=chunksize):
/var/folders/ks/xzsx5z1n0zv653847sbsxy7r0000gp/T/ipykernel_49850/1730099709.py:10: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv(csv_path, chunksize=chunksize):
/var/folders/ks/xzsx5z1n0zv653847sbsxy7r0000gp/T/ipykernel_49850/1730099709.py:10: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv(csv_path, chunksize=chunksize):
/var/folders/ks/xzsx5z1n0zv653847sbsxy7r0000gp/T/ipykernel_49850/1730099709.py:10: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv(csv_path, chunksize=chunksize):
/var/folders/ks/xzsx5z1n0zv653847sbsxy7r0000gp/T/ipykernel_49850/1730099709.py:10: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv(csv_path, chunksize=chunksize):
/var/folders/ks/xzsx5z1n0zv653847sbsxy7r0000gp/T/ipykernel_49850/1730099709.py:10: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv(csv_path, chunksize=chunksize):
/var/folders/ks/xzsx5z1n0zv653847sbsxy7r0000gp/T/ipykernel_49850/1730099709.py:10: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv(csv_path, chunksize=chunksize):
/var/folders/ks/xzsx5z1n0zv653847sbsxy7r0000gp/T/ipykernel_49850/1730099709.py:10: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv(csv_path, chunksize=chunksize):
/var/folders/ks/xzsx5z1n0zv653847sbsxy7r0000gp/T/ipykernel_49850/1730099709.py:10: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv(csv_path, chunksize=chunksize):
/var/folders/ks/xzsx5z1n0zv653847sbsxy7r0000gp/T/ipykernel_49850/1730099709.py:10: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv(csv_path, chunksize=chunksize):
/var/folders/ks/xzsx5z1n0zv653847sbsxy7r0000gp/T/ipykernel_49850/1730099709.py:10: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv(csv_path, chunksize=chunksize):
/var/folders/ks/xzsx5z1n0zv653847sbsxy7r0000gp/T/ipykernel_49850/1730099709.py:10: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv(csv_path, chunksize=chunksize):
/var/folders/ks/xzsx5z1n0zv653847sbsxy7r0000gp/T/ipykernel_49850/1730099709.py:10: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv(csv_path, chunksize=chunksize):
/var/folders/ks/xzsx5z1n0zv653847sbsxy7r0000gp/T/ipykernel_49850/1730099709.py:10: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv(csv_path, chunksize=chunksize):
/var/folders/ks/xzsx5z1n0zv653847sbsxy7r0000gp/T/ipykernel_49850/1730099709.py:10: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv(csv_path, chunksize=chunksize):
/var/folders/ks/xzsx5z1n0zv653847sbsxy7r0000gp/T/ipykernel_49850/1730099709.py:10: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv(csv_path, chunksize=chunksize):
/var/folders/ks/xzsx5z1n0zv653847sbsxy7r0000gp/T/ipykernel_49850/1730099709.py:10: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv(csv_path, chunksize=chunksize):
/var/folders/ks/xzsx5z1n0zv653847sbsxy7r0000gp/T/ipykernel_49850/1730099709.py:10: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv(csv_path, chunksize=chunksize):
/var/folders/ks/xzsx5z1n0zv653847sbsxy7r0000gp/T/ipykernel_49850/1730099709.py:10: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv(csv_path, chunksize=chunksize):
/var/folders/ks/xzsx5z1n0zv653847sbsxy7r0000gp/T/ipykernel_49850/1730099709.py:10: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv(csv_path, chunksize=chunksize):
/var/folders/ks/xzsx5z1n0zv653847sbsxy7r0000gp/T/ipykernel_49850/1730099709.py:10: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv(csv_path, chunksize=chunksize):
/var/folders/ks/xzsx5z1n0zv653847sbsxy7r0000gp/T/ipykernel_49850/1730099709.py:10: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv(csv_path, chunksize=chunksize):
/var/folders/ks/xzsx5z1n0zv653847sbsxy7r0000gp/T/ipykernel_49850/1730099709.py:10: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv(csv_path, chunksize=chunksize):
/var/folders/ks/xzsx5z1n0zv653847sbsxy7r0000gp/T/ipykernel_49850/1730099709.py:10: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv(csv_path, chunksize=chunksize):
/var/folders/ks/xzsx5z1n0zv653847sbsxy7r0000gp/T/ipykernel_49850/1730099709.py:10: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv(csv_path, chunksize=chunksize):
/var/folders/ks/xzsx5z1n0zv653847sbsxy7r0000gp/T/ipykernel_49850/1730099709.py:10: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv(csv_path, chunksize=chunksize):
/var/folders/ks/xzsx5z1n0zv653847sbsxy7r0000gp/T/ipykernel_49850/1730099709.py:10: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv(csv_path, chunksize=chunksize):
/var/folders/ks/xzsx5z1n0zv653847sbsxy7r0000gp/T/ipykernel_49850/1730099709.py:10: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv(csv_path, chunksize=chunksize):
/var/folders/ks/xzsx5z1n0zv653847sbsxy7r0000gp/T/ipykernel_49850/1730099709.py:10: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv(csv_path, chunksize=chunksize):
/var/folders/ks/xzsx5z1n0zv653847sbsxy7r0000gp/T/ipykernel_49850/1730099709.py:10: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv(csv_path, chunksize=chunksize):
/var/folders/ks/xzsx5z1n0zv653847sbsxy7r0000gp/T/ipykernel_49850/1730099709.py:10: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv(csv_path, chunksize=chunksize):
/var/folders/ks/xzsx5z1n0zv653847sbsxy7r0000gp/T/ipykernel_49850/1730099709.py:10: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv(csv_path, chunksize=chunksize):
/var/folders/ks/xzsx5z1n0zv653847sbsxy7r0000gp/T/ipykernel_49850/1730099709.py:10: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv(csv_path, chunksize=chunksize):
/var/folders/ks/xzsx5z1n0zv653847sbsxy7r0000gp/T/ipykernel_49850/1730099709.py:10: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv(csv_path, chunksize=chunksize):

✅ SQLite database created and data imported.

In [13]:
db_path = "/Users/mmurali1/Documents/Imperial/MIMICIV_analysis/labevents.db"

In [14]:
def query_labevents_features(patients, features, db_path):
    conn = sqlite3.connect(db_path)
    
    subject_ids = ','.join(map(str, patients['subject_id'].unique()))
    itemids = ','.join(map(str, features))

    query = f"""
    SELECT subject_id, charttime, itemid, valuenum
    FROM labevents
    WHERE subject_id IN ({subject_ids})
      AND itemid IN ({itemids})
    """

    df = pd.read_sql_query(query, conn)
    conn.close()
    return df

In [131]:
features = [52038, 52039, 52040, 52041, 52042, 50802, 50803, 50805, 50806, 50809, 50810, 50811, 50813, 50814, 50818, 50820, 50821, 50822, 50824]

In [132]:
labevents_bloodgas = query_labevents_features(patients, features, db_path)

In [133]:
labevents_bloodgas.head()

   subject_id            charttime  itemid  valuenum
0    10002428  2156-04-12 10:29:00   50813       2.2
1    10002428  2156-04-12 12:24:00   50813       2.0
2    10002428  2156-04-12 19:49:00   50813       1.6
3    10002428  2156-04-13 01:58:00   50813       1.5
4    10002428  2156-04-13 06:23:00   50813       1.8

In [134]:
labevents_bloodgas.to_csv("/Users/mmurali1/Documents/Imperial/MIMICIV_analysis/labevents_bloodgas.csv", index=False)

In [19]:
features = [50861, 50862, 50863, 50885, 50889, 50893, 50909, 50910, 50912, 50915, 50924, 50960, 50970, 50971, 50983, 50994, 51002, 51003, 51006, 51196, 51200, 51221, 51222, 51237, 51256, 51265, 51274, 51275, 51300, 51301]

In [20]:
labevents_laboratory = query_labevents_features(patients, features, db_path)

In [21]:
labevents_laboratory.head()

   subject_id            charttime  itemid  valuenum
0    10002428  2154-08-12 12:10:00   51200       1.1
1    10002428  2154-08-12 12:10:00   51221      35.2
2    10002428  2154-08-12 12:10:00   51222      11.8
3    10002428  2154-08-12 12:10:00   51256      68.5
4    10002428  2154-08-12 12:10:00   51265     344.0

In [22]:
labevents_laboratory.to_csv("/Users/mmurali1/Documents/Imperial/MIMICIV_analysis/labevents_laboratory.csv", index=False)

In [139]:
chartevents_ventilation.shape

(4657752, 5)

In [140]:
chartevents_demographics.shape

(9756, 5)

In [141]:
chartevents_vitals.shape

(5959734, 5)

In [142]:
labevents_bloodgas.shape

(911431, 4)

In [143]:
labevents_laboratory.shape

(5075418, 4)

In [144]:
chartevents_ventilation.isna().sum()

subject_id         0
stay_id            0
charttime          0
itemid             0
valuenum      817410
dtype: int64

In [145]:
chartevents_demographics.isna().sum()

subject_id    0
stay_id       0
charttime     0
itemid        0
valuenum      0
dtype: int64

In [146]:
chartevents_vitals.isna().sum()

subject_id    0
stay_id       0
charttime     0
itemid        0
valuenum      0
dtype: int64

In [147]:
labevents_bloodgas.isna().sum()

subject_id      0
charttime       0
itemid          0
valuenum      599
dtype: int64

In [148]:
labevents_laboratory.isna().sum()

subject_id        0
charttime         0
itemid            0
valuenum      91575
dtype: int64

In [55]:
# File path to CSV
csv_path = "/Users/mmurali1/Documents/Imperial/MIMICIV_analysis/mimic-iv-3.1/icu/inputevents.csv"

# Create SQLite database
db_path = "/Users/mmurali1/Documents/Imperial/MIMICIV_analysis/inputevents.db"
conn = sqlite3.connect(db_path)

# Read and write in chunks
chunksize = 100_000
for chunk in pd.read_csv(csv_path, chunksize=chunksize):
    chunk.to_sql("inputevents", conn, if_exists="append", index=False)

print("✅ SQLite database created and data imported.")

✅ SQLite database created and data imported.

In [149]:
db_path = "/Users/mmurali1/Documents/Imperial/MIMICIV_analysis/inputevents.db"

In [150]:
def query_inputevents(patients, db_path):
    conn = sqlite3.connect(db_path)
    
    subject_ids = ','.join(map(str, patients['subject_id'].unique()))

    query = f"""
    SELECT subject_id, stay_id, starttime, endtime, itemid, amount, amountuom, totalamount, totalamountuom, rate, rateuom
    FROM inputevents
    WHERE subject_id IN ({subject_ids})
    """

    df = pd.read_sql_query(query, conn)
    conn.close()
    return df

In [151]:
inputevents = query_inputevents(patients, db_path)

In [152]:
inputevents.head()

,subject_id,stay_id,starttime,endtime,itemid,amount,amountuom,totalamount,totalamountuom,rate,rateuom
0,10002428,34807493,2156-05-01 08:00:00,2156-05-01 08:01:00,225799,30.0,mL,30.0,mL,NaN,None
1,10002428,34807493,2156-05-01 08:00:00,2156-05-01 08:01:00,225975,1.0,dose,NaN,None,NaN,None
2,10002428,34807493,2156-05-01 08:00:00,2156-05-01 08:01:00,226453,50.0,mL,50.0,mL,NaN,None
3,10002428,34807493,2156-05-01 10:00:00,2156-05-01 10:01:00,220949,100.0,mL,100.0,mL,NaN,None
4,10002428,34807493,2156-05-01 10:00:00,2156-05-01 10:01:00,225884,1.0,dose,100.0,mL,NaN,None

In [153]:
inputevents.shape

(3174060, 11)

In [154]:
inputevents.to_csv("/Users/mmurali1/Documents/Imperial/MIMICIV_analysis/inputevents.csv", index=False)

In [67]:
# File path to CSV
csv_path = "/Users/mmurali1/Documents/Imperial/MIMICIV_analysis/mimic-iv-3.1/icu/outputevents.csv"

# Create SQLite database
db_path = "/Users/mmurali1/Documents/Imperial/MIMICIV_analysis/outputevents.db"
conn = sqlite3.connect(db_path)

# Read and write in chunks
chunksize = 100_000
for chunk in pd.read_csv(csv_path, chunksize=chunksize):
    chunk.to_sql("outputevents", conn, if_exists="append", index=False)

print("✅ SQLite database created and data imported.")

✅ SQLite database created and data imported.

In [155]:
db_path = "/Users/mmurali1/Documents/Imperial/MIMICIV_analysis/outputevents.db"

In [156]:
def query_outputevents(patients, db_path):
    conn = sqlite3.connect(db_path)
    
    subject_ids = ','.join(map(str, patients['subject_id'].unique()))

    query = f"""
    SELECT subject_id, stay_id, itemid, charttime, value, valueuom
    FROM outputevents
    WHERE subject_id IN ({subject_ids})
    """

    df = pd.read_sql_query(query, conn)
    conn.close()
    return df

In [157]:
outputevents = query_outputevents(patients, db_path)

outputevents.head()

   subject_id   stay_id  itemid            charttime  value valueuom
0    10002428  34807493  226559  2156-05-01 07:00:00   35.0       mL
1    10002428  34807493  226559  2156-05-01 08:00:00   35.0       mL
2    10002428  34807493  226559  2156-05-01 09:00:00   35.0       mL
3    10002428  34807493  226559  2156-05-01 10:00:00   35.0       mL
4    10002428  34807493  226559  2156-05-01 11:00:00   35.0       mL

In [158]:
outputevents.shape

(1379313, 6)

In [159]:
outputevents.to_csv("/Users/mmurali1/Documents/Imperial/MIMICIV_analysis/outputevents.csv", index=False)

In [5]:
features = [220739, 223900, 223901, 228096]

In [6]:
chartevents_neurology = query_chartevents_features(patients, features, db_path)

In [8]:
chartevents_neurology.shape

(1207324, 6)

In [9]:
chartevents_neurology.head()

,subject_id,stay_id,charttime,itemid,value,valuenum
0,10002428,38875437,2156-04-26 08:10:00,228096,0 Alert and calm,0.0
1,10002428,38875437,2156-04-26 08:11:00,220739,Spontaneously,4.0
2,10002428,38875437,2156-04-26 08:11:00,223900,Oriented,5.0
3,10002428,38875437,2156-04-26 08:11:00,223901,Obeys Commands,6.0
4,10002428,38875437,2156-04-26 12:00:00,220739,Spontaneously,4.0

In [10]:
chartevents_neurology.to_csv("/Users/mmurali1/Documents/Imperial/MIMICIV_analysis/chartevents_neurology.csv", index=False)